<aside id="admin-side-menu" [class.collapse-side-menu]="isCollapsing">
    <div class="admin-side-menu-content h-100">
        <div class="side-menu-top">
            <!-- ===================== User ===================== -->
            <div class="admin-side-menu-user">
                <div class="user-avatar-wrap">
                    <div class="user-avatar">
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="user-head side-menu-text">
                        <strong>{{ UserModel?.userNameAr }}</strong>
                        <span>{{ RoleName }}</span>
                    </div>
                </div>
                <div class="side-menu-user-info">
                    <div class="user-info-row">
                        <span class="user-info-icon">
                            <i class="uil uil-calendar-alt"></i>
                        </span>
                        <div class="side-menu-text">
                            {{ UserModel?.loginDateAr }}
                        </div>
                    </div>
                    <div class="user-info-row">
                        <span class="user-info-icon">
                            <i class="uil uil-clock-two"></i>
                        </span>
                        <div class="side-menu-text">
                            {{ UserModel?.loginTimeAr }}
                        </div>
                    </div>
                    <div class="user-info-row">
                        <span class="user-info-icon">
                            <i class="uil uil-envelope"></i>
                        </span>
                        <div class="side-menu-text">
                            {{ RoleName }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- ===================== Menu ===================== -->
            <nav class="admin-side-menu-list">
                <ul class="side-menu-list list-unstyled p-0 m-0">
                    <li class="side-menu-list-item">
                        <a class="side-menu-list-link" routerLink="./dashboard" routerLinkActive="active">
                            <span class="menu-icon">
                                <i class="uil uil-apps"></i>
                            </span>
                            <span class="side-menu-text"> الصفحة الرئيسية</span>
                        </a>
                    </li>
                </ul>
                <ng-container *ngFor="let section of menuSections">
                    <section class="menu-section" appRole [roles]="section.roles">
                        <div class="section-divider"></div>
                        <div class="side-menu-list-title side-menu-text">
                            {{ section.title }}
                        </div>
                        <ng-container *ngFor="let group of section.groups">
                            <ul class="side-menu-list list-unstyled p-0 m-0">
                                <li class="side-menu-list-item">
                                    <a class="side-menu-list-link with-sub-menu" [class.expanded]="!group.collapsed" (click)="toggle(group)" [attr.aria-expanded]="!group.collapsed">
                                        <span class="menu-icon">
                                            <i class="uil"
                                               [ngClass]="group.icon">
                                            </i>
                                        </span>
                                        <span class="side-menu-text">{{ group.title }}</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-unstyled m-0 menu-list-collapsed" [ngbCollapse]="group.collapsed">
                                <li *ngFor="let item of group.items">
                                    <a class="side-menu-list-link sub-link" [routerLink]="item.route.startsWith('/') ? item.route : './' + item.route" routerLinkActive="active">
                                        <span class="menu-bullet"></span>
                                        <span class="side-menu-text">{{ item.title }}</span>
                                    </a>
                                </li>
                            </ul>
                        </ng-container>
                    </section>
                </ng-container>
            </nav>
        </div>
    </div>
</aside>
<div class="admin-side-menu-overlay" [class.show]="isCollapsing" (click)="onCloseSidemenuFromOverlay()"></div>