.navbar {
    background: var(--main-color-gradient);
    min-height: var(--admin-header-height);
    z-index: 3;
}

.navbar .navbar-brand {
    color: #FFF;
}

.navbar .nav-link {
    color: #FFF;
}

.user-dropdown-link i {
    font-size: 20px;
    --dim: 40px;
    width: var(--dim);
    height: var(--dim);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    color: var(--main-color) !important;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user-dropdown-link i:hover {
    background-color: #FFF;
    color: var(--main-color) !important;
}


/* .user-dropdown-link.dropdown-toggle::after {
    content: unset;
  } */

.dropdown-menu a {
    font-size: 14px;
    width: 102%;
}

.logo-menu-area {
    min-width: 225px;
}

.img-logo-box {
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    background-color: #FFF;
    --dim: 50px;
    width: var(--dim);
    height: var(--dim);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-logo .logo-img {
    --dim: 57px;
    width: var(--dim);
    height: var(--dim);
    border-radius: 31px;
    margin-bottom: 2px;
}