<div class="home-staticts mb-3">
    <div class="row g-3">
        <div class="col-lg-4 cursor-pointer" (click)="SaveDbBackupFile()">
            <div
                class="staticts-card visitors position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
                <div class="staticts-icon">
                    <i class="uil uil-database"></i>
                </div>
                <div class="staticts-name">قاعدة البيانات</div>
            </div>
        </div>
        <div class="col-lg-4 cursor-pointer" (click)="DownloadZipFile('SliderImages')">
            <div
                class="staticts-card active-users position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
                <div class="staticts-icon">
                    <i class="uil uil-folder"></i>
                </div>
                <div class="staticts-name">شريط الصور</div>
            </div>
        </div>
        <div class="col-lg-4 cursor-pointer" (click)="DownloadZipFile('ActivityImages')">
            <div
                class="staticts-card nonactive-users position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
                <div class="staticts-icon">
                    <i class="uil uil-folder"></i>
                </div>
                <div class="staticts-name">الأنشطة</div>
            </div>
        </div>
        <div class="col-lg-4 cursor-pointer" (click)="DownloadZipFile('ActivitySliderImages')">
            <div
                class="staticts-card visitors position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
                <div class="staticts-icon">
                    <i class="uil uil-folder"></i>
                </div>
                <div class="staticts-name">تفاصيل الأنشطة</div>
            </div>
        </div>
        <div class="col-lg-4 cursor-pointer" (click)="DownloadZipFile('EventSliderImages')">
            <div
                class="staticts-card active-users position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
                <div class="staticts-icon">
                    <i class="uil uil-folder"></i>
                </div>
                <div class="staticts-name">الفعاليات</div>
            </div>
        </div>
        <div class="col-lg-4 cursor-pointer" (click)="DownloadZipFile('PhotoImages')">
            <div
                class="staticts-card nonactive-users position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
                <div class="staticts-icon">
                    <i class="uil uil-folder"></i>
                </div>
                <div class="staticts-name">الصور</div>
            </div>
        </div>
        <div class="col-lg-4 cursor-pointer" (click)="DownloadZipFile('PhotoDetailImages')">
            <div
                class="staticts-card visitors position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
                <div class="staticts-icon">
                    <i class="uil uil-folder"></i>
                </div>
                <div class="staticts-name">تفاصيل الصور</div>
            </div>
        </div>
        <div class="col-lg-4 cursor-pointer" (click)="DownloadZipFile('BeneFactorImages')">
            <div
                class="staticts-card active-users position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
                <div class="staticts-icon">
                    <i class="uil uil-folder"></i>
                </div>
                <div class="staticts-name">المتبرعين</div>
            </div>
        </div>
        <div class="col-lg-4 cursor-pointer" (click)="DownloadZipFile('BeneFactorDetailsImages')">
            <div
                class="staticts-card nonactive-users position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
                <div class="staticts-icon">
                    <i class="uil uil-folder"></i>
                </div>
                <div class="staticts-name">تفاصيل المتبرعين</div>
            </div>
        </div>
    </div>
</div>

<ngx-loading [show]="showLoader"></ngx-loading>