.staticts-card {
    padding: 10px 20px;
    border-left: 4px solid transparent;
  }
  .staticts-card.visitors {
    border-color: #39a1ea;
    background-color: #aacee7;
  }
  .staticts-card.active-users {
    border-color: #ff7556;
    background-color: #fbe0db;
  }
  .staticts-card.nonactive-users {
    border-color: #feb557;
    background-color: #f9e8d1;
  }
  .staticts-card .staticts-icon {
    --dim: 75px;
    width: var(--dim);
    height: var(--dim);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    color: #FFF;
    border: 3px solid #FFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .staticts-card .staticts-name {
    font-weight: bold;
    color: #666;
  }
  .staticts-card.visitors .staticts-icon {
    background-color: #39a1ea;
  }
  .staticts-card.visitors .staticts-number {
    color: #39a1ea;
    font-size: 30px;
    font-weight: bold;
  }
  .staticts-card.active-users .staticts-icon {
    background-color: #ff7556;
  }
  .staticts-card.active-users .staticts-number {
    color: #ff7556;
    font-size: 30px;
    font-weight: bold;
  }
  .staticts-card.nonactive-users .staticts-icon {
    background-color: #feb557;
  }
  .staticts-card.nonactive-users .staticts-number {
    color: #feb557;
    font-size: 30px;
    font-weight: bold;
  }