<div class="d-flex align-items-center flex-wrap gap-2">
    <div class="position-relative">
        <input type="text" [(ngModel)]="SearchText" (keyup.enter)="InputSearchChange()"
            class="form-control border width-250" placeholder="بحث {{PlaceHolder}}..." />
        <i class="uil uil-search search-icon-input" (click)="InputSearchChange()"></i>
    </div>

    <ng-container *ngFor="let item of FilterList">
        <div class="filter-button" ngbDropdown display="dynamic" placement="bottom-end" [autoClose]="'outside'">
            <button class="btn main-filter-button d-flex align-items-center gap-2" ngbDropdownToggle>
                <i class="uil uil-filter"></i>
                <span class="navbar-brand m-0">{{item.categoryName}}</span>
            </button>
            <div ngbDropdownMenu
                class="dropdown-menu shadow-sm border animate__animated animate__fadeInUp p-0 overflow-hidden">
                <div class="filter-search p-2 gray-bgcolor border-bottom">
                    <div class="position-relative">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="FilterSearchText" placeholder="بحث..." />
                        <i class="uil uil-search search-icon-input"></i>
                    </div>
                </div>
                <div class="min-width-230 max-height-180 px-2 py-2 overflow-auto bg-white">
                    <div class="form-check dropdown-item cursor-pointer rounded"
                        *ngFor="let filter of item.filterItems | searchArry: FilterSearchText:'itemKey';let x = index">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="filter.isChecked" (change)="filterChecked()" id="{{item.categoryName}}_{{x}}">
                        <label class="form-check-label cursor-pointer filter-content" for="{{item.categoryName}}_{{x}}">
                            <span>{{filter.itemKey}}</span>
                            <span>{{filter.itemValue}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>