<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
    <div class="d-flex align-items-center flex-wrap gap-2">
      <button class="btn main-button d-flex align-items-center gap-2" (click)="openAddItemModal(OpenItemModal)">
        <i class="uil uil-plus-circle"></i>
        <span class="navbar-brand m-0">اضافه</span>
      </button>
      <!-- <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
        <button class="btn main-button d-flex align-items-center gap-2" ngbDropdownToggle>
          <i class="uil uil-export"></i>
          <span class="navbar-brand m-0">تنزيل</span>
        </button>
        <div ngbDropdownMenu class="dropdown-menu border shadow-sm animate__animated animate__fadeInUp">
          <a class="cursor-pointer" ngbDropdownItem (click)="$event.preventDefault()">
            <i class="far fa-file-pdf"></i>
            <span class="ms-2">PDF</span>
          </a>
          <a class="cursor-pointer" ngbDropdownItem (click)="$event.preventDefault()">
            <i class="far fa-file-excel"></i>
            <span class="ms-2">Excel</span>
          </a>
          <a class="cursor-pointer" ngbDropdownItem (click)="$event.preventDefault()">
            <i class="far fa-file-word"></i>
            <span class="ms-2">Word</span>
          </a>
        </div>
      </div> -->
      <button class="btn main-button d-flex align-items-center gap-2" (click)="isFilter = !isFilter"
        [attr.aria-expanded]="!isFilter">
        <i class="uil uil-filter"></i>
        <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
      </button>
    </div>
    <div>
      <app-admin-pagination></app-admin-pagination>
      <!-- <nav>
        <ul class="pagination pagination-sm m-0">
          <li class="page-item">
            <a class="page-link">التالى</a>
          </li>
          <li class="page-item"><a class="page-link">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link">2</a>
          </li>
          <li class="page-item"><a class="page-link">3</a></li>
          <li class="page-item disabled">
            <a class="page-link">السابق</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>
  <div class="px-3 py-2 bg-light border-bottom" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
    <app-admin-filters></app-admin-filters>
  </div>
  <div class="card-body card-body-h">
    <div class="table-responsive">
      <table class="table table-bordered align-middle table-dark table-hover border shadow-lg bg-white m-0">
        <thead>
          <tr>
            <th>الصورة</th>
            <th>العنوان</th>
            <th class="text-center">أجراءات</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>تفاصيل 1</td>
            <td>تفاصيل 2</td>
            <td>
              <div class="d-flex align-items-center justify-content-center fs-5 gap-2">
                <i class="uil uil-edit text-primary cursor-pointer" (click)="openAddItemModal(OpenItemModal)"></i>
                <i class="uil uil-times-circle text-danger cursor-pointer" (click)="openDeleteItemModal(deleteItemModal)"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #OpenItemModal let-modal>
  <div class="modal-header d-flex align-items-center justify-content-between main-bgcolor text-white">
    <div class="display-7 d-flex align-items-center gap-3">
      <i class="uil uil-focus-add"></i>
      <span>اضافه سلايدر جديد</span>
    </div>
    <i class="fas fa-times cursor-pointer fa-2x modal-close-btn" (click)="modal.dismiss()"></i>
  </div>
  <div class="modal-body gray-bgcolor">
    <div class="bg-white p-3 rounded shadow-sm">
      <div class="row g-3">
        <div class="col-lg-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput_1" placeholder="new-user">
            <label for="floatingInput_1">عنوان السلايدر</label>
          </div>
        </div>
        <!-- <div class="col-lg-6">
          <div ngbDropdown class="dropdown-with-search h-100 overflow-hidden" container="body">
            <button
              class="dropdown-with-search-btn btn border h-100 w-100 d-flex align-items-center justify-content-between"
              id="dropdownBasic1" ngbDropdownToggle>
              --اختار--
            </button>
            <div class="width-530 py-0 overflow-hidden" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <div class="p-2 gray-bgcolor border-bottom">
                <div class="position-relative">
                  <input type="text" class="form-control form-control-sm" placeholder="بحث..." />
                  <i class="uil uil-search search-icon-input"></i>
                </div>
              </div>
              <ul class="dropdown-list-box list-unstyled max-height-200 overflow-auto px-1 py-1 m-0">
                <li class="dropdown-item cursor-pointer rounded">اختيار 1</li>
                <li class="dropdown-item cursor-pointer rounded">اختيار 2</li>
                <li class="dropdown-item cursor-pointer rounded">اختيار 3</li>
                <li class="dropdown-item cursor-pointer rounded">اختيار 4</li>
                <li class="dropdown-item cursor-pointer rounded">اختيار 5</li>
              </ul>
            </div>
          </div>
        </div> -->
        <div class="col-lg-6">
          <div class="choose-file-box position-relative border rounded h-58">
            <form class="h-100">
              <div class="choose-file-btn">تحميل صورة</div>
              <input type="file" class="choose-file-input" />
            </form>
          </div>
          <label class="jtoggler-wrapper m-0 mx-0">
            <input type="checkbox" class="jtoggler">
            <div class="jtoggler-control">
                <div class="jtoggler-handle"></div>
            </div>
        </label>
        </div>
        <div class="col-lg-12">
          <hr class="border-success">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-2">
            <div class="col">
              <div class="choosed-img img-thumbnail shadow-sm">
                <img src="../../../../assets/choosed-img.jpg" loading="lazy" alt="" />
                <div class="choosed-img-delete">
                  <i class="far fa-times-circle"></i>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="choosed-img img-thumbnail shadow-sm">
                <img src="../../../../assets/choosed-img.jpg" loading="lazy" alt="" />
                <div class="choosed-img-delete">
                  <i class="far fa-times-circle"></i>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="choosed-img img-thumbnail shadow-sm">
                <img src="../../../../assets/choosed-img.jpg" loading="lazy" alt="" />
                <div class="choosed-img-delete">
                  <i class="far fa-times-circle"></i>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="choosed-img img-thumbnail shadow-sm">
                <img src="../../../../assets/choosed-img.jpg" loading="lazy" alt="" />
                <div class="choosed-img-delete">
                  <i class="far fa-times-circle"></i>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="choosed-img img-thumbnail shadow-sm">
                <img src="../../../../assets/choosed-img.jpg" loading="lazy" alt="" />
                <div class="choosed-img-delete">
                  <i class="far fa-times-circle"></i>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="choosed-img img-thumbnail shadow-sm">
                <img src="../../../../assets/choosed-img.jpg" loading="lazy" alt="" />
                <div class="choosed-img-delete">
                  <i class="far fa-times-circle"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-start gap-2">
    <button class="btn main-button d-flex align-items-center gap-2" (click)="modal.close()">
      <i class="uil uil-plus-circle"></i>
      <span>اضافه</span>
    </button>
    <button class="btn btn-danger rounded-25 d-flex align-items-center gap-2" (click)="modal.close()">
      <i class="uil uil-times-circle"></i>
      <span>الغاء</span>
    </button>
  </div>
</ng-template>

<ng-template #deleteItemModal let-modal>
  <div class="modal-header main-bgcolor text-white">
    <div class="display-7 d-flex align-items-center gap-3">
      <i class="uil uil-trash-alt"></i>
      <span>حذف سلايدر</span>
    </div>
  </div>
  <div class="modal-body">
      <p class="fs-5 m-0">هل انت متأكد أنك تريد حذف هذا العنصر</p>
  </div>
  <div class="modal-footer justify-content-start">
      <button type="button" class="btn btn-success" (click)="modal.close('Save click')">
          <i class="fas fa-check"></i>
          <span class="ms-2">نعم</span>
      </button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
          <i class="fas fa-times"></i>
          <span class="ms-2">لا</span>
      </button>
  </div>
</ng-template>
