<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
                <div class="d-flex align-items-center flex-wrap gap-2">
                    <button class="btn main-button d-flex align-items-center gap-2"
                        (click)="openNeedAddItemModal(OpenNeedItemModal,null)">
                        <i class="uil uil-plus-circle"></i>
                        <span class="navbar-brand m-0">اضافة</span>
                    </button>
                    <button class="btn main-button d-flex align-items-center gap-2"
                        (click)="NeedIsFilter = !NeedIsFilter" [attr.aria-expanded]="!NeedIsFilter">
                        <i class="uil uil-filter"></i>
                        <span class="navbar-brand m-0">{{ NeedIsFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
                    </button>
                </div>
                <div>
                    <app-admin-pagination [currentPage]="NeedsPagingFilter.currentpage"
                        [pageSize]="NeedsPagingFilter.pagesize" [totalPages]="0" [totalCount]="NeedTotalCount"
                        (pageChanged)="NeedPageChange($event)"></app-admin-pagination>
                </div>
            </div>
            <div class="px-3 py-2 bg-light border-bottom" #collapse="ngbCollapse" [(ngbCollapse)]="NeedIsFilter">
                <app-admin-filters [FilterList]="NeedFilterList" [PlaceHolder]="'بالاسم'"
                    (FilterChecked)="NeedFilterChecked($event)"></app-admin-filters>
            </div>
            <div class="card-body card-body-h">
                <div class="table-responsive">
                    <table
                        class="table table-bordered align-middle table-dark table-hover border shadow-lg bg-white m-0">
                        <thead>
                            <tr>
                                <th>الاسم</th>
                                <th>الفئة</th>
                                <th>تمت الاضافة من قبل</th>
                                <th>تاريخ الاضافة</th>
                                <th class="text-center">أجراءات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of FamilyNeedsData">
                                <td>{{item.name}}</td>
                                <td>{{item.category}}</td>
                                <td>{{item.createdBy}}</td>
                                <td>{{item.insertDateStr}}</td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-center fs-5 gap-2">
                                        <i class="uil uil-edit text-primary icon-table-action shadow-sm"
                                            (click)="openNeedAddItemModal(OpenNeedItemModal,item)"></i>
                                        <i class="uil uil-times-circle text-danger icon-table-action shadow-sm" appRole
                                            [roles]="['SupperAdmin','Admin']"
                                            (click)="openDeleteNeedItemModal(deleteNeedItemModal,item)"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
                <div class="d-flex align-items-center flex-wrap gap-2">
                    <button class="btn main-button d-flex align-items-center gap-2"
                        (click)="openCategoryAddItemModal(OpenCategoryItemModal,null)">
                        <i class="uil uil-plus-circle"></i>
                        <span class="navbar-brand m-0">اضافة</span>
                    </button>
                    <button class="btn main-button d-flex align-items-center gap-2"
                        (click)="CategoryIsFilter = !CategoryIsFilter" [attr.aria-expanded]="!CategoryIsFilter">
                        <i class="uil uil-filter"></i>
                        <span class="navbar-brand m-0">{{ CategoryIsFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
                    </button>
                </div>
                <div>
                    <app-admin-pagination [currentPage]="CategoriesPagingFilter.currentpage"
                        [pageSize]="CategoriesPagingFilter.pagesize" [totalPages]="0" [totalCount]="CategoryTotalCount"
                        (pageChanged)="CategoryPageChange($event)"></app-admin-pagination>
                </div>
            </div>
            <div class="px-3 py-2 bg-light border-bottom" #collapse="ngbCollapse" [(ngbCollapse)]="CategoryIsFilter">
                <app-admin-filters [FilterList]="CategoryFilterList" [PlaceHolder]="'بالاسم'"
                    (FilterChecked)="CategoryFilterChecked($event)"></app-admin-filters>
            </div>
            <div class="card-body card-body-h">
                <div class="table-responsive">
                    <table
                        class="table table-bordered align-middle table-dark table-hover border shadow-lg bg-white m-0">
                        <thead>
                            <tr>
                                <th>الاسم</th>
                                <th>تمت الاضافة من قبل</th>
                                <th>تاريخ الاضافة</th>
                                <th class="text-center">أجراءات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of FamilyCategoriesData">
                                <td>{{item.name}}</td>
                                <td>{{item.createdBy}}</td>
                                <td>{{item.insertDateStr}}</td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-center fs-5 gap-2">
                                        <i class="uil uil-edit text-primary icon-table-action shadow-sm"
                                            (click)="openCategoryAddItemModal(OpenCategoryItemModal,item)"></i>
                                        <i class="uil uil-times-circle text-danger icon-table-action shadow-sm" appRole
                                            [roles]="['SupperAdmin','Admin']"
                                            (click)="openDeleteCategoryItemModal(deleteCategoryItemModal,item)"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #OpenNeedItemModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-focus-add"></i>
            <span>اضافه عنصر جديد</span>
        </div>
        <i class="fas fa-times cursor-pointer fa-2x modal-close-btn" (click)="modal.dismiss()"></i>
    </div>
    <div class="modal-body gray-bgcolor">
        <div class="bg-white p-3 rounded shadow-sm">
            <form [formGroup]="NeedForm" autocomplete="off">
                <div class="row g-3">
                    <div class="col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" formControlName="name" id="floatingInput_1"
                                placeholder="new-user" required>
                            <label for="floatingInput_1">الاسم</label>
                            <div *ngIf="NeedForm.controls['name']?.invalid && (NeedForm.controls['name']?.dirty || NeedForm.controls['name']?.touched)"
                                class="text-danger pt-2">
                                <div *ngIf="NeedForm.controls['name'].errors?.['required']">
                                    هذا الحقل مطلوب
                                </div>
                                <div *ngIf="NeedForm.controls['name'].errors?.['noSpace']">
                                    لا يمكن ان يحتوي الحقل على مسافات فقط
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div ngbDropdown class="dropdown-with-search overflow-hidden" container="body">
                            <button
                                class="dropdown-with-search-btn btn border h-58 w-100 d-flex align-items-center justify-content-between selector-padding"
                                id="dropdownBasic1" ngbDropdownToggle>
                                {{CategoryName}}
                            </button>
                            <div class="width-530 py-0 overflow-hidden dropdown-fitting" ngbDropdownMenu
                                aria-labelledby="dropdownBasic1">
                                <ul class="dropdown-list-box list-unstyled max-height-220 overflow-auto px-1 py-1 m-0">
                                    <ng-container *ngFor="let item of CategoryList">
                                        <li class="dropdown-item cursor-pointer rounded"
                                            (click)="OnChangeCategory(item)"
                                            [ngClass]="{'DropDownSelected': CategoryName == item.name}">{{item.name}}
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                        <div class="text-danger pt-2" *ngIf="CategoryValidation">
                            هذا الحقل مطلوب
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer justify-content-start gap-2">
        <button type="submit" class="btn main-button d-flex align-items-center gap-2" (click)="AddNewNeed()">
            <i class="uil uil-plus-circle"></i>
            <span>اضافه</span>
        </button>
        <button class="btn btn-danger rounded-25 d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>

<ng-template #OpenCategoryItemModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-focus-add"></i>
            <span>اضافه فئة جديدة</span>
        </div>
        <i class="fas fa-times cursor-pointer fa-2x modal-close-btn" (click)="modal.dismiss()"></i>
    </div>
    <div class="modal-body gray-bgcolor">
        <div class="bg-white p-3 rounded shadow-sm">
            <form [formGroup]="CategoryForm" autocomplete="off">
                <div class="row g-3">
                    <div class="col-lg-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" formControlName="name" id="floatingInput_1"
                                placeholder="new-user" required>
                            <label for="floatingInput_1">الاسم</label>
                            <div *ngIf="CategoryForm.controls['name']?.invalid && (CategoryForm.controls['name']?.dirty || CategoryForm.controls['name']?.touched)"
                                class="text-danger pt-2">
                                <div *ngIf="CategoryForm.controls['name'].errors?.['required']">
                                    هذا الحقل مطلوب
                                </div>
                                <div *ngIf="CategoryForm.controls['name'].errors?.['noSpace']">
                                    لا يمكن ان يحتوي الحقل على مسافات فقط
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer justify-content-start gap-2">
        <button type="submit" class="btn main-button d-flex align-items-center gap-2" (click)="AddNewCategory()">
            <i class="uil uil-plus-circle"></i>
            <span>اضافه</span>
        </button>
        <button class="btn btn-danger rounded-25 d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>

<ng-template #deleteNeedItemModal let-modal>
    <div class="modal-header main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-trash-alt"></i>
            <span>حذف عنصر</span>
        </div>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد أنك تريد حذف هذا العنصر</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="DeleteNeed()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">لا</span>
        </button>
    </div>
</ng-template>

<ng-template #deleteCategoryItemModal let-modal>
    <div class="modal-header main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-trash-alt"></i>
            <span>حذف فئة</span>
        </div>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد أنك تريد حذف هذه الفئة</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="DeleteCategory()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">لا</span>
        </button>
    </div>
</ng-template>

<ngx-loading [show]="showLoader"></ngx-loading>