<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
        <div class="d-flex align-items-center flex-wrap gap-2">
            <button class="btn main-button d-flex align-items-center gap-2" routerLink="/admin/add-family-status">
                <i class="uil uil-plus-circle"></i>
                <span class="navbar-brand m-0">اضافة حالة جديدة</span>
            </button>
            <div class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
                <button class="btn main-button d-flex align-items-center gap-2" ngbDropdownToggle>
                    <i class="uil uil-export"></i>
                    <span class="navbar-brand m-0">تنزيل</span>
                </button>
                <div ngbDropdownMenu class="dropdown-menu border shadow-sm animate__animated animate__fadeInUp">
                    <a class="cursor-pointer" ngbDropdownItem (click)="$event.preventDefault();OpenPdfFileItemModal(PDFFileItemModal)">
                        <i class="far fa-file-pdf"></i>
                        <span class="ms-2">PDF</span>
                    </a>
                    <a class="cursor-pointer" ngbDropdownItem (click)="$event.preventDefault();DownloadExcelFile()">
                        <i class="far fa-file-excel"></i>
                        <span class="ms-2">Excel</span>
                    </a>
                </div>
            </div>
            <button class="btn main-button d-flex align-items-center gap-2" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                <i class="uil uil-filter"></i>
                <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
            </button>
        </div>
        <div>
            <app-admin-pagination [currentPage]="PagingFilter.currentpage" [pageSize]="PagingFilter.pagesize" [totalPages]="0" [totalCount]="TotalCount" (pageChanged)="PageChange($event)"></app-admin-pagination>
        </div>
    </div>
    <div class="px-3 py-2 bg-light border-bottom" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
        <app-admin-filters [FilterList]="FilterList" [PlaceHolder]="'بالكود, الاسم'" (FilterChecked)="FilterChecked($event)"></app-admin-filters>
    </div>
    <div class="card-body card-body-h">
        <div class="table-responsive mb-2">
            <table class="table table-bordered align-middle table-dark table-hover border shadow-lg bg-white m-0">
                <thead>
                    <tr>
                        <th>الكود</th>
                        <th>الاسم</th>
                        <th>الجنسية</th>
                        <th>رقم التلفون</th>
                        <th>العنوان</th>
                        <th>نوع الحالة</th>
                        <th>الفئة</th>
                        <th>تمت الاضافة من قبل</th>
                        <th>تاريخ الاضافة</th>
                        <th class="text-center">أجراءات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of FamilyStatusData">
                        <td>{{item.code}}</td>
                        <td>{{item.statusName}}</td>
                        <td>{{item.nationalityName}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.statusTypeName}}</td>
                        <td>{{item.categoryName}}</td>
                        <td>{{item.createdBy}}</td>
                        <td>{{item.insertDateStr}}</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center fs-5 gap-2">
                                <i class="uil uil-edit text-primary icon-table-action shadow-sm" (click)="openUpdateFamilyStatusSidePanel(item,true,false)"></i>
                                <i class="uil uil-times-circle text-danger icon-table-action shadow-sm" (click)="openDeleteItemModal(deleteItemModal,item.id)"></i>
                                <i class="uil uil-document-info text-success icon-table-action shadow-sm" (click)="openUpdateFamilyStatusSidePanel(item,false,true)"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <app-admin-pagination (pageChanged)="PagingFilter.currentpage = $event.page" [currentPage]="PagingFilter.currentpage" [pageSize]="PagingFilter.pagesize" [totalPages]="0" [totalCount]="TotalCount"></app-admin-pagination>
        </div>
    </div>
</div>

<ng-template #deleteItemModal let-modal>
    <div class="modal-header main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-trash-alt"></i>
            <span>حذف حالة</span>
        </div>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد أنك تريد حذف هذا العنصر</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="DeleteItem()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">لا</span>
        </button>
    </div>
</ng-template>

<ng-template #PDFFileItemModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-focus-add"></i>
            <span>اختر أعمدة</span>
        </div>
        <i class="fas fa-times cursor-pointer fa-2x modal-close-btn" (click)="modal.dismiss()"></i>
    </div>
    <div class="modal-body gray-bgcolor">
        <div class="bg-white p-3 rounded shadow-sm mb-3">
            <div class="row g-3 mb-2" *ngFor="let item of PDFHeaderModel;let x = index">
                <div class="col-lg-5">
                    <input class="form-check-input me-2" type="checkbox" [(ngModel)]="item.isSelected" id="{{item.nameEn}}_{{x}}">
                    <label class="form-check-label cursor-pointer filter-content" for="{{item.nameEn}}_{{x}}">
                        <span>{{item.nameAr}}</span>
                    </label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control" (keypress)="NumbersOnly($event.key)" (paste)="false" (copy)="false" (cut)="false" [(ngModel)]="item.displayOrder" placeholder="الترتيب">
                </div>
                <div class="col-lg-5 d-flex align-items-center" *ngIf="item.valueType == 'Number'">
                    <div class="me-2">جمع قيم العامود</div>
                    <label class="jtoggler-wrapper m-0 mx-0">
                        <input type="checkbox" [(ngModel)]="item.isAllowSummation" class="jtoggler">
                        <div class="jtoggler-control">
                            <div class="jtoggler-handle"></div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row g-3 mb-2">
                <div class="col-lg-12">
                    <div class="form-floating">
                        <input type="text" class="form-control" (keypress)="NumbersOnly($event.key)" (paste)="false" (copy)="false" (cut)="false" [(ngModel)]="RowCount" id="floatingInput_1">
                        <label for="floatingInput_1">عدد الاسطر في الصفحة الواحدة</label>
                    </div>
                </div>
            </div>
            <hr>
            <h3 class="text-danger">تنبيه هام
                <i class="fas fa-exclamation-circle"></i>
            </h3>
            <div>
                <ul>
                    <li>لا يمكن اختيار أكثر من 6 أعمدة في الصفحة الواحدة</li>
                    <li>لا يمكن اختيار اكثر من 25 سطر في الصفحة الواحدة</li>
                    <li>إذا كان احد الأعمدة يحتوي على جمل طويلة برجاء تقليل عدد الأسطر والأعمدة</li>
                    <li>لا يمكن اختيار جمع قيم العامود الا لعامود واحد فقط</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-start gap-2">
        <button type="submit" class="btn main-button d-flex align-items-center gap-2" (click)="DownloadPdfFile()">
            <i class="uil uil-plus-circle"></i>
            <span>تحميل</span>
        </button>
        <button class="btn btn-danger rounded-25 d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>


<ngx-loading [show]="showLoader"></ngx-loading>