<div class="pagination-container d-flex align-items-center justify-content-end flex-wrap">
    <span class="me-2">
    <span class="CrossRef_2_Info">عرض {{showingStr}} من </span>
    <span class="CrossRef_2_InfoTotal">{{totalCount}}</span>
    </span>
    <div class="pull-right NewPaging">
        <pagination [(ngModel)]="currentPage" [boundaryLinks]="true" [totalItems]="totalCount" [maxSize]="maxSize" (pageChanged)="pageChangeEvevnt($event)" [itemsPerPage]="pageSize" previousText="السابق" nextText="التالي" firstText="الأول" lastText="الأخير">
        </pagination>
    </div>
</div>