<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
    <div class="d-flex align-items-center flex-wrap gap-2">
      <button class="btn main-button d-flex align-items-center gap-2" (click)="openAddItemModal(OpenItemModal,null)">
        <i class="uil uil-plus-circle"></i>
        <span class="navbar-brand m-0">اضافه</span>
      </button>
      <button class="btn main-button d-flex align-items-center gap-2" (click)="isFilter = !isFilter"
        [attr.aria-expanded]="!isFilter">
        <i class="uil uil-filter"></i>
        <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
      </button>
    </div>
    <div>
      <app-admin-pagination [currentPage]="PagingFilter.currentpage" [pageSize]="PagingFilter.pagesize" [totalPages]="0"
        [totalCount]="TotalCount" (pageChanged)="PageChange($event)"></app-admin-pagination>
    </div>
  </div>
  <div class="px-3 py-2 bg-light border-bottom" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
    <app-admin-filters [FilterList]="FilterList" [PlaceHolder]="'بالعنوان'"
      (FilterChecked)="FilterChecked($event)"></app-admin-filters>
  </div>
  <div class="card-body card-body-h">
    <div class="table-responsive">
      <table class="table table-bordered align-middle table-dark table-hover border shadow-lg bg-white m-0">
        <thead>
          <tr>
            <th class="th-width"></th>
            <th>العنوان</th>
            <th>الوصف</th>
            <th>تمت الاضافة من قبل</th>
            <th>تاريخ الاضافة</th>
            <th class="text-center">مرئي في الموقع</th>
            <th class="text-center">أجراءات</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of PhotosData">
            <td>
              <img src="{{item.image}}" class="table-image">
            </td>
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td>{{item.createdBy}}</td>
            <td>{{item.insertDate}}</td>
            <td class="text-center">
              <label class="jtoggler-wrapper m-0 mx-0">
                <input type="checkbox" [(ngModel)]="item.isVisible" class="jtoggler" disabled>
                <div class="jtoggler-control">
                  <div class="jtoggler-handle"></div>
                </div>
              </label>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center fs-5 gap-2">
                <i class="uil uil-edit text-primary icon-table-action shadow-sm"
                  (click)="openAddItemModal(OpenItemModal,item)"></i>
                <i class="uil uil-times-circle text-danger icon-table-action shadow-sm"
                appRole [roles]="['SupperAdmin']"
                  (click)="openDeleteItemModal(deleteItemModal,item)"></i>
                <i class="uil uil-plus text-primary icon-table-action shadow-sm"
                  (click)="openAddImagesModal(OpenAddImagesModal,item)"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #OpenItemModal let-modal>
  <div class="modal-header d-flex align-items-center justify-content-between main-bgcolor text-white">
    <div class="display-7 d-flex align-items-center gap-3">
      <i class="uil uil-focus-add"></i>
      <span>اضافه صورة جديدة</span>
    </div>
    <i class="fas fa-times cursor-pointer fa-2x modal-close-btn" (click)="modal.dismiss()"></i>
  </div>
  <div class="modal-body gray-bgcolor">
    <div class="bg-white p-3 rounded shadow-sm">
      <form [formGroup]="ItemForm" autocomplete="off">
        <div class="row g-3">
          <div class="col-lg-6">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput_1" placeholder="new-user"
                formControlName="title" required>
              <label for="floatingInput_1">العنوان</label>
            </div>
            <div
              *ngIf="ItemForm.controls['title']?.invalid && (ItemForm.controls['title']?.dirty || ItemForm.controls['title']?.touched)"
              class="alert text-danger">
              <div *ngIf="ItemForm.controls['title'].errors?.['required']">
                هذا الحقل مطلوب
              </div>
              <div *ngIf="ItemForm.controls['title'].errors?.['noSpace']">
                لا يمكن ان يحتوي الحقل على مسافات فقط
            </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput_1" placeholder="new-user"
                formControlName="description" required>
              <label for="floatingInput_1">الوصف</label>
            </div>
            <div
              *ngIf="ItemForm.controls['description']?.invalid && (ItemForm.controls['description']?.dirty || ItemForm.controls['description']?.touched)"
              class="alert text-danger">
              <div *ngIf="ItemForm.controls['description'].errors?.['required']">
                هذا الحقل مطلوب
              </div>
              <div *ngIf="ItemForm.controls['description'].errors?.['noSpace']">
                لا يمكن ان يحتوي الحقل على مسافات فقط
            </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center">
            <div class="me-2">مرئي</div>
            <label class="jtoggler-wrapper m-0 mx-0">
              <input type="checkbox" formControlName="isVisible" class="jtoggler">
              <div class="jtoggler-control">
                <div class="jtoggler-handle"></div>
              </div>
            </label>
            <div class="ms-2">غير مرئي</div>
          </div>
          <div class="col-lg-6">
            <div class="choose-file-box position-relative border rounded h-58" (click)="InputFile.click()">
              <div class="choose-file-btn">تحميل صورة</div>
            </div>
            <div class="alert text-danger" *ngIf="isFileExist">
              هذا الحقل مطلوب
            </div>
          </div>
          <div class="col-lg-12" *ngIf="fileURL.length > 0">
            <hr class="border-success">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-2">
              <div class="col" *ngFor="let url of fileURL">
                <div class="choosed-img img-thumbnail shadow-sm">
                  <img src="{{url.image}}" loading="lazy" alt="" />
                  <div class="choosed-img-delete" (click)="DeleteSelectedFile()">
                    <i class="far fa-times-circle"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer justify-content-start gap-2">
    <button class="btn main-button d-flex align-items-center gap-2" (click)="AddNewPhoto()">
      <i class="uil uil-plus-circle"></i>
      <span>اضافه</span>
    </button>
    <button class="btn btn-danger rounded-25 d-flex align-items-center gap-2" (click)="modal.close()">
      <i class="uil uil-times-circle"></i>
      <span>الغاء</span>
    </button>
  </div>
</ng-template>

<ng-template #OpenAddImagesModal let-modal>
  <div class="modal-header d-flex align-items-center justify-content-between main-bgcolor text-white">
    <div class="display-7 d-flex align-items-center gap-3">
      <i class="uil uil-focus-add"></i>
      <span>اضافه صور</span>
    </div>
    <i class="fas fa-times cursor-pointer fa-2x modal-close-btn" (click)="modal.dismiss()"></i>
  </div>
  <div class="modal-body gray-bgcolor">
    <div class="bg-white p-3 rounded shadow-sm">
      <div class="row g-3">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-center">
          <div class="choose-file-box position-relative border rounded h-58" (click)="InputMultiFile.click()">
            <div class="choose-file-btn">تحميل صورة</div>
          </div>
          <div class="alert text-danger" *ngIf="isFileExist">
            هذا الحقل مطلوب
          </div>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-12" *ngIf="multiFileURL.length > 0">
          <hr class="border-success">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-2">
            <div class="col" *ngFor="let url of multiFileURL;let i = index">
              <div class="choosed-img img-thumbnail shadow-sm">
                <img src="{{url.image}}" loading="lazy" alt="" />
                <div class="choosed-img-delete" (click)="DeleteMultiImageFiles(i,url)">
                  <i class="far fa-times-circle"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-start gap-2">
    <button class="btn main-button d-flex align-items-center gap-2" (click)="AddMultiImagesFile()">
      <i class="uil uil-plus-circle"></i>
      <span>اضافه</span>
    </button>
    <button class="btn btn-danger rounded-25 d-flex align-items-center gap-2" (click)="modal.close()">
      <i class="uil uil-times-circle"></i>
      <span>الغاء</span>
    </button>
  </div>
</ng-template>

<ng-template #deleteItemModal let-modal>
  <div class="modal-header main-bgcolor text-white">
    <div class="display-7 d-flex align-items-center gap-3">
      <i class="uil uil-trash-alt"></i>
      <span>حذف صور</span>
    </div>
  </div>
  <div class="modal-body">
    <p class="fs-5 m-0">هل انت متأكد أنك تريد حذف هذا العنصر</p>
  </div>
  <div class="modal-footer justify-content-start">
    <button type="button" class="btn btn-success" (click)="DeletePhoto()">
      <i class="fas fa-check"></i>
      <span class="ms-2">نعم</span>
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
      <i class="fas fa-times"></i>
      <span class="ms-2">لا</span>
    </button>
  </div>
</ng-template>

<input type="file" #InputFile class="choose-file-input" (change)="onFileChange($event)" hidden />
<input type="file" #InputMultiFile multiple class="choose-file-input" (change)="onMultiFileChange($event)" hidden />