<div class="table-responsive">
  <table class="table table-bordered align-middle">
    <thead>
      <tr>
        <th class="text-white" colspan="2">الجانب الطبى للاسرة</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="fvt-td-bg">الاسم</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">نوع المريض</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">تاريخ المريض</td>
        <td>
          <div class="custom-date-input position-relative">
            <span class="date-label" *ngIf="!isDate">اختر التاريخ</span>
            <input type="date" class="form-control cursor-pointer" (focus)="onfocus()" />
          </div>
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">التخصص</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">هل يوجد تقرير طبي</td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check_1">
            <label class="form-check-label" for="check_1">
              نعم
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check_2">
            <label class="form-check-label" for="check_2">
              لا
            </label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
