<div class="table-responsive">
    <table class="table table-bordered align-middle">
        <thead>
            <tr>
                <th class="text-white" colspan="2">الجانب الطبى لأفراد للاسرة</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fvt-td-bg">الاسم</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">نوع المريض</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">تاريخ المريض</td>
                <td>
                    <div class="custom-date-input position-relative">
                        <span class="date-label" *ngIf="!isDate">اختر التاريخ</span>
                        <input type="date" class="form-control cursor-pointer" (focus)="onfocus()" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">التخصص</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">هل يوجد تقرير طبي</td>
                <td>
                    <div class="d-flex d-flex align-items-center">
                        <div class="me-2">نعم</div>
                        <label class="jtoggler-wrapper m-0 mx-0">
                      <input type="checkbox" class="jtoggler">
                      <div class="jtoggler-control">
                        <div class="jtoggler-handle"></div>
                      </div>
                    </label>
                        <div class="ms-2">لا</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>