<div class="steppers-header border bg-white rounded p-3 shadow-sm mb-4">
  <div class="row g-4">
    <div class="col-xl-3 d-flex justify-content-center justify-content-xl-start">
      <div class="d-flex flex-column align-items-center justify-content-center gap-2">
        <i class="fas fa-user-plus case-icon"></i>
        <h4 class="m-0">اضافه حالة جديدة</h4>
      </div>
    </div>
    <div class="col-xl-7">
      <ul class="stepers-list list-unstyled d-flex align-items-xl-start align-items-center justify-content-center p-0 m-0">
        <li *ngFor="let item of stepsItems; index as i" class="steper-item active" [class.active]="activeStep >= i+1" (click)="onSteps(i + 1);">
          <div class="steper-item-content">
            <div class="steper-item-circle-line">
              <div class="steper-item-circle">{{ item.number }}</div>
            </div>
            <div class="steper-item-title">{{ item.name }}</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-xl-2 d-flex align-items-center justify-content-center justify-content-xl-end">
      <div class="d-flex align-items-center flex-wrap gap-2">
        <button class="btn main-button d-flex align-items-center gap-2" *ngIf="activeStep >= 7">
          <i class="fas fa-plus-circle fa-fw"></i>
          <span class="navbar-brand m-0">اضافة</span>
        </button>
        <button class="btn main-button blue d-flex align-items-center gap-2" *ngIf="activeStep >= 1 && activeStep < 7" (click)="nextStepers()">
          <span class="navbar-brand m-0">التالى</span>
          <i class="fas fa-arrow-left fa-fw"></i>
        </button>
        <button class="btn main-button orange d-flex align-items-center gap-2" *ngIf="activeStep > 1" (click)="prevStepers()">
          <i class="fas fa-arrow-right fa-fw"></i>
          <span class="navbar-brand m-0">السابق</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="steppers-content">
  <ng-container *ngIf="activeStep === 1">
    <app-family-status></app-family-status>
  </ng-container>
  <ng-container *ngIf="activeStep === 2">
    <app-family-data></app-family-data>
  </ng-container>
  <ng-container *ngIf="activeStep === 3">
    <app-family-income-data></app-family-income-data>
  </ng-container>
  <ng-container *ngIf="activeStep === 4">
    <app-family-expenses-data></app-family-expenses-data>
  </ng-container>
  <ng-container *ngIf="activeStep === 5">
    <app-family-medical></app-family-medical>
  </ng-container>
  <ng-container *ngIf="activeStep === 6">
    <app-family-need></app-family-need>
  </ng-container>
  <ng-container *ngIf="activeStep === 7">
    <app-reviewers></app-reviewers>
  </ng-container>
</div>
