<div class="steppers-header border bg-white rounded p-3 shadow-sm mb-4">
    <div class="row g-4">
        <div class="col-xl-3 d-flex justify-content-center justify-content-xl-start">
            <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                <i class="fas fa-user-plus case-icon"></i>
                <h4 class="m-0">اضافه حالة جديدة</h4>
            </div>
        </div>
        <div class="col-xl-7">
            <ul class="stepers-list list-unstyled d-flex align-items-xl-start align-items-center justify-content-center p-0 m-0">
                <li *ngFor="let item of StepList; index as i" class="steper-item active" [class.active]="activeStep >= i+1" (click)="OnStepClick(item.stepId,i)">
                    <div class="steper-item-content">
                        <div class="steper-item-circle-line">
                            <div class="steper-item-circle">{{ item.number }}</div>
                        </div>
                        <div class="steper-item-title">{{ item.stepName }}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xl-2 d-flex align-items-center justify-content-center justify-content-xl-end">
            <div class="d-flex align-items-center flex-wrap gap-2">
                <button class="btn main-button orange d-flex align-items-center gap-2" *ngIf="activeStep > 1" (click)="PreviousSteps()">
          <i class="fas fa-arrow-right fa-fw"></i>
          <span class="navbar-brand m-0">السابق</span>
        </button>
                <button class="btn main-button d-flex align-items-center gap-2" *ngIf="activeStep >= 7" (click)="AddNewFamilyStatus()">
          <i class="fas fa-plus-circle fa-fw"></i>
          <span class="navbar-brand m-0">اضافة</span>
        </button>
                <button class="btn main-button blue d-flex align-items-center gap-2" *ngIf="activeStep >= 1 && activeStep < 7" (click)="NextStep()">
          <span class="navbar-brand m-0">التالى</span>
          <i class="fas fa-arrow-left fa-fw"></i>
        </button>

            </div>
        </div>
    </div>
</div>

<div class="steppers-content" *ngIf="FamilyLookups">
    <div [hidden]="activeStep != 1">
        <app-family-status #FamilyStatus [Categories]="FamilyLookups.categories" [Nationalities]="FamilyLookups.nationalities"></app-family-status>
    </div>
    <div [hidden]="activeStep != 2">
        <app-family-data #FamilyData></app-family-data>
    </div>
    <div [hidden]="activeStep != 3">
        <app-family-income-data #FamilyIncome></app-family-income-data>
    </div>
    <div [hidden]="activeStep != 4">
        <app-family-expenses-data #FamilyExpenses></app-family-expenses-data>
    </div>
    <div [hidden]="activeStep != 5">
        <app-family-medical #FamilyMedical></app-family-medical>
    </div>
    <div [hidden]="activeStep != 6">
        <app-family-need #FamilyNeed [FamilyNeeds]="FamilyLookups.familyNeeds"></app-family-need>
    </div>
    <div [hidden]="activeStep != 7">
        <app-reviewers #Reviewers></app-reviewers>
    </div>
</div>

<ngx-loading [show]="showLoader"></ngx-loading>