<div class="table-responsive">
    <form #FamilyForm="ngForm">
        <table class="table table-bordered align-middle table-hover">
            <thead>
                <tr>
                    <th class="text-white" colspan="2">الحالة</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="fvt-td-bg">اسم الحالة</td>
                    <td>
                        <input type="text" class="form-control" [disabled]="DetailsMode || UpdateMode" (input)="FamilyStatusNameChange()" name="StatusName" #StatusName="ngModel" [(ngModel)]="FamilyStatus.name" required/>
                        <div class="text-danger pt-2" *ngIf="StatusName.invalid && (StatusName.dirty || StatusName.touched || FamilyForm.submitted )">
                            <div *ngIf="StatusName.errors?.required">هذا الحقل مطلوب</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">الشهرة</td>
                    <td>
                        <input type="text" class="form-control" [disabled]="DetailsMode || UpdateMode" name="Fname" #Fname="ngModel" [(ngModel)]="FamilyStatus.fname" required/>
                        <div class="text-danger pt-2" *ngIf="Fname.invalid && (Fname.dirty || Fname.touched || FamilyForm.submitted )">
                            <div *ngIf="Fname.errors?.required">هذا الحقل مطلوب</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">رقم الهاتف 1</td>
                    <td>
                        <input type="text" class="form-control" [disabled]="DetailsMode" name="Phone" #Phone="ngModel" [(ngModel)]="FamilyStatus.phone" pattern="[0-9]+" required/>
                        <div class="text-danger pt-2" *ngIf="Phone.invalid && (Phone.dirty || Phone.touched || FamilyForm.submitted )">
                            <div *ngIf="Phone.errors?.required">هذا الحقل مطلوب</div>
                            <div *ngIf="Phone.errors?.pattern">أدخل أرقام فقط</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">رقم الهاتف 2</td>
                    <td>
                        <input type="text" class="form-control" [disabled]="DetailsMode" name="Phone1" #Phone1="ngModel" [(ngModel)]="FamilyStatus.phone1" pattern="[0-9]+" />
                        <div class="text-danger pt-2">
                            <div *ngIf="Phone1.errors?.pattern">أدخل أرقام فقط</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">العنوان</td>
                    <td>
                        <input type="text" class="form-control" [disabled]="DetailsMode" name="Address" #Address="ngModel" [(ngModel)]="FamilyStatus.address" required/>
                        <div class="text-danger pt-2" *ngIf="Address.invalid && (Address.dirty || Address.touched || FamilyForm.submitted )">
                            <div *ngIf="Address.errors?.required">هذا الحقل مطلوب</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">الصلة</td>
                    <td>
                        <input type="text" class="form-control" [disabled]="DetailsMode" name="Relevance" [(ngModel)]="FamilyStatus.relevance" />
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">التعليم</td>
                    <td>
                        <input type="text" class="form-control" [disabled]="DetailsMode" name="Education" [(ngModel)]="FamilyStatus.education" />
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">المهنة</td>
                    <td>
                        <input type="text" class="form-control" [disabled]="DetailsMode" name="Jop" [(ngModel)]="FamilyStatus.jop" />
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">السن</td>
                    <td>
                        <input type="text" class="form-control" [disabled]="DetailsMode" name="Age" #Age="ngModel" [(ngModel)]="FamilyStatus.age" pattern="[0-9]+" />
                        <div class="text-danger pt-2">
                            <div *ngIf="Age.errors?.pattern">أدخل أرقام فقط</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">الرقم القومي</td>
                    <td>
                        <input type="text" class="form-control" [disabled]="DetailsMode" name="NationalId" [(ngModel)]="FamilyStatus.nationalId" />
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">القرية</td>
                    <td>
                        <input type="text" class="form-control" [disabled]="DetailsMode" name="Village" [(ngModel)]="FamilyStatus.village" />
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">المركز</td>
                    <td>
                        <input type="text" class="form-control" [disabled]="DetailsMode" name="Center" [(ngModel)]="FamilyStatus.center" />
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">المحافظة</td>
                    <td>
                        <input type="text" class="form-control" [disabled]="DetailsMode" name="Governorate" [(ngModel)]="FamilyStatus.governorate" />
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">الحالة الاجتماعية</td>
                    <td>
                        <select class="form-control" name="MaritalStatus" [disabled]="DetailsMode" [(ngModel)]="FamilyStatus.maritalStatus">
                            <option [defaultSelected]="true" [value]="null" disabled>--اختر الحالة--</option>
                            <option [value]="item.name" *ngFor="let item of MaritalStatus">{{item.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">النوع</td>
                    <td>
                        <select class="form-control" name="StatusTypeId" [disabled]="DetailsMode" #StatusTypeId="ngModel" [(ngModel)]="FamilyStatus.statusTypeId" required>
                            <option [defaultSelected]="true" [value]="null" disabled>--اختر النوع--</option>
                            <option [value]="item.id" *ngFor="let item of StatusTypes">{{item.name}}</option>
                        </select>
                        <div class="text-danger pt-2" *ngIf="StatusTypeId.invalid && (StatusTypeId.dirty || StatusTypeId.touched || FamilyForm.submitted )">
                            <div *ngIf="StatusTypeId.errors?.required">هذا الحقل مطلوب</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">الجنسية</td>
                    <td>
                        <select class="form-control" name="NationalityId" [disabled]="DetailsMode" #NationalityId="ngModel" [(ngModel)]="FamilyStatus.nationalityId" required>
                            <option [defaultSelected]="true" [value]="null" disabled>--اختر الجنسيه--</option>
                            <option [value]="item.id" *ngFor="let item of Nationalities">{{item.name}}</option>
                       </select>
                        <div class="text-danger pt-2" *ngIf="NationalityId.invalid && (NationalityId.dirty || NationalityId.touched || FamilyForm.submitted )">
                            <div *ngIf="NationalityId.errors?.required">هذا الحقل مطلوب</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">الفئة</td>
                    <td>
                        <select class="form-control" name="CategoryId" [disabled]="DetailsMode" #CategoryId="ngModel" [(ngModel)]="FamilyStatus.categoryId" required>
                            <option [defaultSelected]="true" [value]="null" disabled>--اختر الفئة--</option>
                            <option [value]="item.id" *ngFor="let item of Categories">{{item.name}}</option>
                        </select>
                        <div class="text-danger pt-2" *ngIf="CategoryId.invalid && (CategoryId.dirty || CategoryId.touched || FamilyForm.submitted )">
                            <div *ngIf="CategoryId.errors?.required">هذا الحقل مطلوب</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="fvt-td-bg">تاريخ الاضافة</td>
                    <td>
                        <div class="custom-date-input position-relative">
                            <span class="date-label" *ngIf="!isDate">اختر التاريخ</span>
                            <input type="date" class="form-control cursor-pointer" [disabled]="DetailsMode || UpdateMode" (focus)="onfocus()" name="AddedDate" #AddedDate="ngModel" [(ngModel)]="FamilyStatus.addedDate" required/>
                        </div>
                        <div class="text-danger pt-2" *ngIf="AddedDate.invalid && (AddedDate.dirty || AddedDate.touched || FamilyForm.submitted )">
                            <div *ngIf="AddedDate.errors?.required">هذا الحقل مطلوب</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>