<div class="table-responsive">
    <table class="table table-bordered align-middle">
        <thead>
            <tr>
                <th class="text-white" colspan="2">الحالة</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fvt-td-bg">اسم الحالة</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">رقم الهاتف 1</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">رقم الهاتف 2</td>
                <td class="fvt-td-bg">
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">الشهرة</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">العنوان</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">الجنسية</td>
                <td>
                    <select class="form-control">
            <option value="0" disabled selected>--اختار الجنسيه--</option>
            <option value="1">الجنسية 1</option>
            <option value="2">الجنسية 2</option>
          </select>
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">القرية</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">المركز</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">المحافظة</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">تاريخ الاضافة</td>
                <td>
                    <div class="custom-date-input position-relative">
                        <span class="date-label" *ngIf="!isDate">اختر التاريخ</span>
                        <input type="date" class="form-control cursor-pointer" (focus)="onfocus()" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">الفئة</td>
                <td>
                    <select class="form-control">
            <option value="0" disabled selected>--اختار الفئة--</option>
            <option value="1">الفئة 1</option>
            <option value="2">الفئة 2</option>
          </select>
                </td>
            </tr>
            <!-- <tr>
        <td class="fvt-td-bg">الكود</td>
        <td>
          <input type="text" disabled value="10578" class="form-control" />
        </td>
      </tr> -->
        </tbody>
    </table>
</div>