<section class="activity-section">
    <h3 class="text-center main-color mb-5 display-5">الأنشطة</h3>
    <div class="row gy-4">
      <div class="col-md-6 col-lg-3" routerLink="/activity-details/{{item.id}}" *ngFor="let item of ActivitiesData">
        <div class="activity-card rounded text-center shadow-sm p-3">
          <div class="activity-card-img">
            <img src="{{item.image}}" loading="lazy" alt="" style="width: 100px;height: 100px;"/>
          </div>
          <div class="activity-card-text fw-bold">{{item.name}}</div>
        </div>
      </div>
    </div>
  </section>
  <section class="payment-section">
    <h3 class="text-center main-color mb-5 display-5">طرق التبرع</h3>
    <div class="row gy-4">
      <div class="col-lg-4">
        <div class="activity-card rounded text-center shadow-sm p-3">
          <div class="activity-card-img bg-transparent">
            <img src="../../../assets/vodafone-cash.png" class="payment-img" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold fs-5">فودافون كاش</div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="activity-card rounded text-center shadow-sm p-3">
          <div class="activity-card-img bg-transparent">
            <img src="../../../assets/national-bank.png" class="payment-img" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold fs-5">البنك الأهلى</div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="activity-card rounded text-center shadow-sm p-3">
          <div class="activity-card-img bg-transparent">
            <img src="../../../assets/wallets.png" class="payment-img" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold fs-5">نقدا</div>
        </div>
      </div>
    </div>
  </section>
