<section class="activity-section">
    <h3 class="text-center main-color mb-5 display-5">الأنشطة</h3>
    <div class="row gy-4">
      <div class="col-lg-3" routerLink="/activity-details">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img">
            <img src="../../../assets/active-1.png" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold">الصدقات الجارية</div>
        </div>
      </div>
      <div class="col-lg-3" routerLink="/activity-details">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img">
            <img src="../../../assets/active-2.png" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold">صك الأضحية</div>
        </div>
      </div>
      <div class="col-lg-3" routerLink="/activity-details">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img">
            <img src="../../../assets/active-3.png" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold">سيارة زائر الخير</div>
        </div>
      </div>
      <div class="col-lg-3" routerLink="/activity-details">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img">
            <img src="../../../assets/active-4.png" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold">شنط غذائية</div>
        </div>
      </div>
      <div class="col-lg-3" routerLink="/activity-details">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img">
            <img src="../../../assets/active-1.png" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold">الصدقات الجارية</div>
        </div>
      </div>
      <div class="col-lg-3" routerLink="/activity-details">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img">
            <img src="../../../assets/active-2.png" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold">صك الأضحية</div>
        </div>
      </div>
      <div class="col-lg-3" routerLink="/activity-details">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img">
            <img src="../../../assets/active-3.png" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold">سيارة زائر الخير</div>
        </div>
      </div>
      <div class="col-lg-3" routerLink="/activity-details">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img">
            <img src="../../../assets/active-4.png" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold">شنط غذائية</div>
        </div>
      </div>
      <div class="col-lg-3" routerLink="/activity-details">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img">
            <img src="../../../assets/active-1.png" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold">الصدقات الجارية</div>
        </div>
      </div>
      <div class="col-lg-3" routerLink="/activity-details">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img">
            <img src="../../../assets/active-2.png" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold">صك الأضحية</div>
        </div>
      </div>
      <div class="col-lg-3" routerLink="/activity-details">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img">
            <img src="../../../assets/active-3.png" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold">سيارة زائر الخير</div>
        </div>
      </div>
      <div class="col-lg-3" routerLink="/activity-details">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img">
            <img src="../../../assets/active-4.png" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold">شنط غذائية</div>
        </div>
      </div>
    </div>
  </section>
  <section class="payment-section">
    <h3 class="text-center main-color mb-5 display-5">طرق التبرع</h3>
    <div class="row gy-4">
      <div class="col-lg-4">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img bg-transparent">
            <img src="../../../assets/vodafone-cash.png" class="payment-img" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold fs-5">فودافون كاش</div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img bg-transparent">
            <img src="../../../assets/national-bank.png" class="payment-img" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold fs-5">البنك الأهلى</div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="activity-card bg-white rounded text-center shadow-sm p-3">
          <div class="activity-card-img bg-transparent">
            <img src="../../../assets/wallets.png" class="payment-img" loading="lazy" alt="" />
          </div>
          <div class="activity-card-text fw-bold fs-5">نقدا</div>
        </div>
      </div>
    </div>
  </section>
  