<div class="table-responsive">
  <table class="table table-bordered align-middle">
    <thead>
      <tr>
        <th class="text-white" colspan="2">احتياجات الحالة</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="fvt-td-bg">نوع السكن</td>
        <td>
          <div class="d-flex align-items-center gap-3">
            <div ngbDropdown class="dropdown-with-search width-150" container="body" placement="bottom-end">
              <button
                class="dropdown-with-search-btn btn border w-100 d-flex align-items-center justify-content-between selector-padding"
                id="dropdownBasic1" ngbDropdownToggle>
                نوع السكن
              </button>
              <div class="width-300 dropdown-fitting" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <div class="p-2 gray-bgcolor border-bottom">
                  <div class="position-relative">
                    <input type="text" class="form-control form-control-sm" placeholder="بحث..." />
                    <i class="uil uil-search search-icon-input"></i>
                  </div>
                </div>
                <ul class="dropdown-list-box list-unstyled max-height-220 overflow-auto px-1 py-1 m-0">
                  <li class="dropdown-item cursor-pointer rounded">نوع السكن 1</li>
                  <li class="dropdown-item cursor-pointer rounded">نوع السكن 2</li>
                  <li class="dropdown-item cursor-pointer rounded">نوع السكن 3</li>
                  <li class="dropdown-item cursor-pointer rounded">نوع السكن 4</li>
                  <li class="dropdown-item cursor-pointer rounded">نوع السكن 5</li>
                  <li class="dropdown-item cursor-pointer rounded">نوع السكن 6</li>
                  <li class="dropdown-item cursor-pointer rounded">نوع السكن 7</li>
                  <li class="dropdown-item cursor-pointer rounded">نوع السكن 8</li>
                  <li class="dropdown-item cursor-pointer rounded">نوع السكن 9</li>
                  <li class="dropdown-item cursor-pointer rounded">نوع السكن 10</li>
                  <li class="dropdown-item cursor-pointer rounded">نوع السكن 11</li>
                  <li class="dropdown-item cursor-pointer rounded">نوع السكن 12</li>
                </ul>
              </div>
            </div>
            <div class="d-flex align-items-center flex-wrap gap-2">
              <div class="badge badge-success round fs-15"><span class="me-1">نوع السكن : برج سكنى</span>
                <i class="fas fa-times-circle font-small-3 px-02 cursor-pointer"></i>
              </div>
              <div class="badge badge-success round fs-15"><span class="me-1">نوع السكن : برج سكنى</span>
                <i class="fas fa-times-circle font-small-3 px-02 cursor-pointer"></i>
              </div>
              <div class="badge badge-success round fs-15"><span class="me-1">نوع السكن : برج سكنى</span>
                <i class="fas fa-times-circle font-small-3 px-02 cursor-pointer"></i>
              </div>
              <div class="badge badge-success round fs-15"><span class="me-1">نوع السكن : برج سكنى</span>
                <i class="fas fa-times-circle font-small-3 px-02 cursor-pointer"></i>
              </div>
              <div class="badge badge-success round fs-15"><span class="me-1">نوع السكن : برج سكنى</span>
                <i class="fas fa-times-circle font-small-3 px-02 cursor-pointer"></i>
              </div>
              <div class="badge badge-success round fs-15"><span class="me-1">نوع السكن : برج سكنى</span>
                <i class="fas fa-times-circle font-small-3 px-02 cursor-pointer"></i>
              </div>
              <div class="badge badge-success round fs-15"><span class="me-1">نوع السكن : برج سكنى</span>
                <i class="fas fa-times-circle font-small-3 px-02 cursor-pointer"></i>
              </div>
              <div class="badge badge-success round fs-15"><span class="me-1">نوع السكن : برج سكنى</span>
                <i class="fas fa-times-circle font-small-3 px-02 cursor-pointer"></i>
              </div>
              <div class="badge badge-success round fs-15"><span class="me-1">نوع السكن : برج سكنى</span>
                <i class="fas fa-times-circle font-small-3 px-02 cursor-pointer"></i>
              </div>
              <div class="badge badge-success round fs-15"><span class="me-1">نوع السكن : برج سكنى</span>
                <i class="fas fa-times-circle font-small-3 px-02 cursor-pointer"></i>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
