<div class="table-responsive">
    <table class="table table-bordered align-middle">
        <thead>
            <tr>
                <th class="text-white" colspan="3">احتياجات الحالة</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let type of FamilyNeeds">
                <td class="fvt-td-bg">{{type.categoryName}}</td>
                <td>
                    <div class="d-flex align-items-center gap-3">
                        <div ngbDropdown class="dropdown-with-search width-150" container="body" placement="bottom-end">
                            <button class="dropdown-with-search-btn btn border w-100 d-flex align-items-center justify-content-between selector-padding" id="dropdownBasic1" ngbDropdownToggle>
                                اختر نوع
                            </button>
                            <div class="width-300 dropdown-fitting" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <div class="p-2 gray-bgcolor border-bottom">
                                    <div class="position-relative">
                                        <input type="text" class="form-control form-control-sm" placeholder="بحث..." />
                                        <i class="uil uil-search search-icon-input"></i>
                                    </div>
                                </div>
                                <ul class="dropdown-list-box list-unstyled max-height-220 overflow-auto px-1 py-1 m-0">
                                    <li class="dropdown-item cursor-pointer rounded" *ngFor="let item of type.needs" (click)="AddFamilyNeed(type,item)">{{item.name}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-wrap gap-2">
                            <div class="badge badge-success round fs-15" *ngFor="let item of type.selectedNeeds;let i = index">
                                <span class="me-1">{{item.name}}</span>
                                <i class="fas fa-times-circle font-small-3 px-02 cursor-pointer" (click)="RemoveSelectedNeed(type,i)"></i>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex">
                        <div class="d-flex d-flex align-items-center me-3">
                            <div class="me-2">تم التسليم</div>
                            <label class="jtoggler-wrapper m-0 mx-0">
                              <input type="checkbox" class="jtoggler" [(ngModel)]="type.isWaiting">
                              <div class="jtoggler-control">
                                <div class="jtoggler-handle"></div>
                              </div>
                            </label>
                            <div class="ms-2">قيد الانتظار</div>
                        </div>
                        <div class="flex-grow-1" *ngIf="type.isWaiting">
                            <input type="date" class="form-control cursor-pointer w-100" (focus)="onfocus()" />
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>