<div class="table-responsive">
    <table class="table table-bordered align-middle">
        <thead>
            <tr>
                <th class="text-white" colspan="2">المراجعين</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fvt-td-bg">وصف الحالة</td>
                <td>
                    <textarea class="form-control" rows="3"></textarea>
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">احتياجات المسكن والحالة</td>
                <td>
                    <textarea class="form-control" rows="3"></textarea>
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">ملاحظات الباحث</td>
                <td>
                    <textarea class="form-control" rows="3"></textarea>
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">ملاحظات المراجع</td>
                <td>
                    <textarea class="form-control" rows="3"></textarea>
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">تاريخ الزيارة</td>
                <td>
                    <div class="custom-date-input position-relative">
                        <span class="date-label" *ngIf="!isDate">اختر التاريخ</span>
                        <input type="date" class="form-control cursor-pointer" (focus)="onfocus()" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr class="opacity-100 border-top" />
<div class="table-responsive">
    <table class="table table-bordered align-middle">
        <thead>
            <tr>
                <th class="text-white" colspan="2">الأوراق الشخصية</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of PersonalPearpers">
                <td class="fvt-td-bg">{{item.name}}</td>
                <td>
                    <div class="d-flex d-flex align-items-center" a-ngfor>
                        <div class="me-2">نعم</div>
                        <label class="jtoggler-wrapper m-0 mx-0">
                              <input type="checkbox" class="jtoggler" [(ngModel)]="item.isSelected">
                              <div class="jtoggler-control">
                                <div class="jtoggler-handle"></div>
                              </div>
                            </label>
                        <div class="ms-2">لا</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>