<div class="table-responsive">
    <table class="table table-bordered align-middle">
        <thead>
            <tr>
                <th class="text-white" colspan="2">بيانات الاسرة</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fvt-td-bg">الاسم</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">الصلة</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">السن</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">الحالة الاجتماعية</td>
                <td>
                    <select class="form-control">
            <option value="0" disabled selected>--اختر الحالة الاجتماعية--</option>
            <option value="1">أعزب</option>
            <option value="2">متزوج</option>
            <option value="2">مطلقة</option>
            <option value="2">أرمل</option>
          </select>
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">التعليم</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">المهنة</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">الرقم القومي</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
        </tbody>
    </table>
</div>