@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700&display=swap");
@import url("../node_modules/swiper/swiper.min.css");
@import url("../node_modules/swiper/modules/pagination/pagination.min.css");
@import url("../node_modules/swiper/modules/navigation/navigation.min.css");

:root {
  /* COLORS */
  --main-color: #74c173;
  --secondary-color: #4CAF50;
  --main-color-gradient: linear-gradient(90deg, rgba(0,176,155,1) 0%, rgba(76,164,70,1) 35%);
  --main-color-radial: radial-gradient(circle, rgba(0,176,155,1) 30%, rgba(76,164,70,1) 64%);
  --main-color-rgba: rgb(150 215 149 / 50%);
  --main-color-rgba-lighter: rgb(150 215 149 / 50%);
  --background-body: #EEF5FF;
  --background-body: #f3f3f3;
  --white-color: #FFF;
  --light-gray: #f2f4f5;

  /* HEIGHTS */
  --header_height: 70px;
  --carousel_height: calc(100vh - var(--header_height));

  /* FONT SIZE */
  --nav-link-fs: 16px;
  --nav-icon-fs: 20px;

  /* PADDING */
  --nav-link-padding: 25px;
}

/* START GENERAL STYLES */
html,
body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  background-color: var(--background-body);
  direction: rtl;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #ddd;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
.small-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #ddd;
}
.small-scroll::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
.large-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #ddd;
}
.large-scroll::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
.cursor-pointer {
  cursor: pointer;
}
.header-height {
  height: var(--header_height);
}
.main-color {
  color: var(--main-color);
}
.main-bgcolor {
  background-color: var(--main-color);
}
.gray-bgcolor {
  background-color: var(--light-gray);
}
.fs-14px {
  font-size: 14px;
}
.display-7 {
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.2;
}
.rotated-icon {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.main-button {
  --padding-x: 20px;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  background-color: var(--main-color);
  color: #FFF;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.main-button:hover {
  background-color: #FFF;
  color: var(--main-color);
  border-color: var(--main-color);
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--main-color);
  outline: 0;
  box-shadow: none;
}
.form-check-input:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 .25rem var(--main-color-rgba);
}
/* SWIPER STYLE */
.swiper-button-next, .swiper-button-prev {
  color: #FFF;
}
.swiper-rtl .swiper-button-prev {
  right: 0;
  left: auto;
}
.swiper-rtl .swiper-button-next {
  left: 0;
  right: auto;
}
.swiper-button-next, .swiper-button-prev {
  top: 0;
  width: 50px;
  height: 100%;
  margin-top: 0;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: rgba(255,255,255, .3);
}
@media (max-width: 767px) {
  .tooltip {
    display: none;
  }
}
/* END GLOBAL STYLES */
