<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
        <div class="d-flex align-items-center flex-wrap gap-2">
            <button class="btn main-button d-flex align-items-center gap-2" routerLink="/create-order">
                <i class="uil uil-plus-circle"></i>
                <span class="navbar-brand m-0">اضافة</span>
            </button>
            <button class="btn main-button d-flex align-items-center gap-2" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                <i class="uil uil-filter"></i>
                <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
            </button>
        </div>
        <div>
            <app-admin-pagination [currentPage]="PagingFilter.currentpage" [pageSize]="PagingFilter.pagesize" [totalPages]="0" [totalCount]="Total" (pageChanged)="PageChange($event)"></app-admin-pagination>
        </div>
    </div>
    <div class="px-3 py-2 bg-light border-bottom" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
        <app-admin-filters [FilterList]="FilterList" (FilterChecked)="FilterChecked($event)"></app-admin-filters>
    </div>
    <div class="card-body card-body-h">
        <div class="table-responsive mb-2">
            <table class="table table-bordered align-middle table-dark table-hover border shadow-lg bg-white m-0">
                <thead>
                    <tr>
                        <th>رقم الطلب</th>
                        <th>نوع الطلب</th>
                        <th>حالة الطلب</th>
                        <th>تاريخ الطلب</th>
                        <th>الإجمالي</th>
                        <th>العميل</th>
                        <th>الكاشير</th>
                        <th class="text-center">أجراءات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Results">
                        <td>{{item.orderNumber}}#</td>
                        <td>
                            <span class="badge rounded-pill default p-2 text-uppercase px-3" [ngClass]="getOrderTypeColor(item.orderType)">
                                {{item.orderType | enumText:'orderType'}}
                            </span>
                        </td>
                        <td>
                            <span class="badge rounded-pill default p-2 text-uppercase px-3" [ngClass]="getStatusColor(item.orderStatus)">
                                {{item.orderStatus | enumText:'orderStatus'}}
                            </span>
                        </td>
                        <td>{{item.createdDate | arabicDateWithTime}}</td>
                        <td>{{item.totalAmount}} ل.س</td>
                        <td>{{item.fullName ?? '-'}}</td>
                        <td>{{item.cashierName ?? '-'}}</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center fs-5 gap-2">
                                <i class="uil uil-edit text-primary icon-table-action shadow-sm" [routerLink]="['/create-order']" [queryParams]="{ orderId: item.orderId }"></i>
                                <i class="uil uil-times-circle text-danger icon-table-action shadow-sm" appRoleChecker [roles]="['SupperAdmin']" (click)="openDeleteItemModal(deleteItemModal,item)"></i>
                                <i class="uil uil-document-info text-success icon-table-action shadow-sm" (click)="openSidePanel(SidePanel,item)"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <app-admin-pagination (pageChanged)="PagingFilter.currentpage = $event.page" [currentPage]="PagingFilter.currentpage" [pageSize]="PagingFilter.pagesize" [totalPages]="0" [totalCount]="Total"></app-admin-pagination>
        </div>
    </div>
</div>

<ngx-loading [show]="showLoader"></ngx-loading>


<ng-template #deleteItemModal let-modal>
    <div class="modal-header main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-trash-alt"></i>
            <span>أمر الغاء</span>
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="ItemForm" autocomplete="off">
            <div class="row g-3">
                <div class="col-lg-12">
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="voidReason" id="floatingInput_1" placeholder="new-user" required>
                        <label for="floatingInput_1">سبب الالغاء</label>
                        <div *ngIf="ItemForm.controls['voidReason']?.invalid && (ItemForm.controls['voidReason']?.dirty || ItemForm.controls['voidReason']?.touched)" class="text-danger pt-2">
                            <div *ngIf="ItemForm.controls['voidReason'].errors?.['required']">
                                هذا الحقل مطلوب
                            </div>
                            <div *ngIf="ItemForm.controls['voidReason'].errors?.['noSpace']">
                                لا يمكن ان يحتوي الحقل على مسافات فقط
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="voidNotes" id="floatingInput_1" placeholder="new-user">
                        <label for="floatingInput_1">ملاحظات</label>
                        <div *ngIf="ItemForm.controls['voidNotes']?.invalid && (ItemForm.controls['voidNotes']?.dirty || ItemForm.controls['voidNotes']?.touched)" class="text-danger pt-2">
                            <div *ngIf="ItemForm.controls['voidNotes'].errors?.['noSpace']">
                                لا يمكن ان يحتوي الحقل على مسافات فقط
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer justify-content-start gap-2">
        <button type="submit" class="btn main-button d-flex align-items-center gap-2" (click)="CancelOrder()">
            <i class="uil uil-plus-circle"></i>
            <span>اضافه</span>
        </button>
        <button class="btn btn-danger rounded-25 d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>

<ng-template #SidePanel let-offcanvas>
    <div class="offcanvas-header pb-0 d-flex align-items-center justify-content-between">
        <div>
            <h4 class="offcanvas-title m-0 d-flex align-items-center w-100"><i class="uil uil-document-info text-success"></i> {{OrderNumber}} - {{OrderDate| arabicDateWithTime}}
            </h4>
        </div>
        <button type="button" class="btn bg-danger text-white rounded" aria-label="Close" (click)="offcanvas.dismiss()">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="offcanvas-body pt-0">
        <hr>
        <div class="container pt-3">
            <div class="card mb-2">
                <div class="card-body card-body-h overflow-auto">
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle table-dark table-hover border shadow-lg bg-white m-0">
                            <thead>
                                <tr>
                                    <th class="th-width"></th>
                                    <th>العنصر</th>
                                    <th>الفئة</th>
                                    <th>الكمية</th>
                                    <th>السعر</th>
                                    <th>الإجمالي</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of SelectedProducts;let i = index">
                                    <td>
                                        <img src="{{item.image}}" (error)="$event.target.src = defaultImage" class="table-image">
                                    </td>
                                    <td>{{item.productName}}</td>
                                    <td>{{item.categoryName}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.price}}</td>
                                    <td>{{item.totalValue}} ل.س</td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="SelectedProducts.length > 0">
                                <tr>
                                    <td class="text-end fw-bold">الإجمالي: </td>
                                    <td colspan="5" class="fw-bold">{{TotalValue}} ل.س</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded px-3 py-2 border shadow-sm mb-1" *ngIf="CustomerData?.fullName">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="fw-bold mb-2">
                        <i class="fas fa-user-circle me-2 main-color" style="font-size: 16px;"></i>
                        <span>اسم العميل : </span>
                        <span class="fw-bold me-2 ms-2">{{CustomerData?.fullName ?? '-'}}</span>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex fw-bold mb-2">
                        <i class="fas fa-phone me-2 mb-1 main-color" style="font-size: 16px;"></i>
                        <span>رقم الهاتف :</span>
                        <div class="me-2 ms-2">{{CustomerData?.phone ?? '-'}}</div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-map-marker-alt me-2 main-color" style="font-size: 19px;"></i>
                        <span class="fw-bold me-2 ms-05">العنوان :</span>
                        <div>{{CustomerData?.address ?? '-'}}</div>
                    </div>
                </div>
            </div>
            <div class="card radius-10 border-0 card-shadow" *ngIf="Notes">
                <div class="card-body">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-2">
                            <h5 class="m-0 fw-bold">ملاحظات</h5>
                        </div>
                        <div class="col-lg-10  h-200">
                            <input type="text" value="{{Notes}}" class="form-control me-2 min-height-70" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card radius-10 border-0 card-shadow mt-2" *ngIf="VoidReason">
                <div class="card-body">
                    <div class="row d-flex align-items-center   ">
                        <div class="col-lg-2">
                            <h5 class="m-0 fw-bold">سبب الإلغاء</h5>
                        </div>
                        <div class="col-lg-10  h-200">
                            <input type="text" value='{{VoidReason}}' class="form-control me-2 min-height-70" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>