<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
        <div class="d-flex align-items-center flex-wrap gap-2">
            <button class="btn main-button d-flex align-items-center gap-2" (click)="openAddItemModal(OpenItemModal,null)">
                <i class="uil uil-plus-circle"></i>
                <span class="navbar-brand m-0">اضافة</span>
            </button>
        </div>
        <div>
            <app-admin-pagination [currentPage]="PagingFilter.currentpage" [pageSize]="PagingFilter.pagesize" [totalPages]="0" [totalCount]="TotalCount" (pageChanged)="PageChange($event)"></app-admin-pagination>
        </div>
    </div>
    <div class="card-body card-body-h">
        <div class="row mb-3 g-3">
            <div class="col-lg-3">
                <div ngbDropdown class="dropdown-with-search w-100">
                    <div class="dropdown-with-search-btn btn border h-58 d-flex align-items-center justify-content-between selector-padding" id="dropdownBasic1" ngbDropdownToggle>
                        {{BeneFactorName}}
                    </div>
                    <div class="py-0 w-100" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <div class="p-2 gray-bgcolor border-bottom">
                            <div class="position-relative">
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="SearchText" placeholder="بحث..." />
                                <i class="uil uil-search search-icon-input"></i>
                            </div>
                        </div>
                        <ul class="dropdown-list-box list-unstyled max-height-220 overflow-auto px-1 py-1 m-0">
                            <ng-container *ngFor="let item of BeneFactorData | searchArry: SearchText:'fullName'">
                                <li class="dropdown-item cursor-pointer rounded" [ngClass]="{'DropDownSelected': BeneFactorName == item.fullName}" (click)="OnChangeBeneFactor(item)">{{item.fullName}}</li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 d-flex align-items-center">
                <div class="d-flex align-items-center" *ngIf="BeneFactorId">
                    <div class="me-2">كاش</div>
                    <label class="jtoggler-wrapper m-0 mx-0">
                    <input type="checkbox" class="jtoggler" [(ngModel)]="TypeSwitcher"
                        (change)="GetBenefactorType($event.target.checked)">
                    <div class="jtoggler-control">
                        <div class="jtoggler-handle"></div>
                    </div>
                </label>
                    <div class="ms-2">الكل</div>
                </div>
            </div>
            <div class="col-lg-3" *ngIf="BenefactorType == 'Cash'">
                <div ngbDropdown class="dropdown-with-search w-100">
                    <div class="dropdown-with-search-btn btn border h-58 d-flex align-items-center justify-content-between selector-padding" id="dropdownBasic1" ngbDropdownToggle>
                        {{BeneFactorValueName}}
                    </div>
                    <div class="py-0 w-100" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <ul class="dropdown-list-box list-unstyled max-height-220 overflow-auto px-1 py-1 m-0">
                            <ng-container *ngFor="let item of BeneFactorValuesData">
                                <li class="dropdown-item cursor-pointer rounded" [ngClass]="{'DropDownSelected': BeneFactorValueName == item.totalValue +'-'+ item.paymentDateStr}" (click)="OnChangeBeneFactorValue(item)">{{item.totalValue}} - {{item.paymentDateStr}}
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-1" *ngIf="BenefactorType == 'Cash'">
                <div class="form-floating">
                    <input type="text" class="form-control" [value]="TotalValue" id="floatingInput_1" disabled placeholder="new-user">
                    <label for="floatingInput_1">مبلغ التبرع</label>
                </div>
            </div>
        </div>
        <div class="table-responsive mb-2">
            <table class="table table-bordered align-middle table-dark table-hover border shadow-lg bg-white m-0">
                <thead>
                    <tr>
                        <th class="th-width"></th>
                        <th>الكود</th>
                        <th>نوع التبرع</th>
                        <th>تاريخ التبرع</th>
                        <th>قيمة التبرع</th>
                        <th>تفاصيل التبرع</th>
                        <th>تمت الاضافة من قبل</th>
                        <th>تاريخ الاضافة</th>
                        <th class="text-center">أجراءات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of BeneFactorDetailsData">
                        <td>
                            <img src="{{item.image}}" class="table-image" (error)="$event.target.src = DefaultImage">
                        </td>
                        <td>{{item.code}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.paymentDate}}</td>
                        <td>{{item.totalValue ?? '-'}}</td>
                        <td>{{item.details}}</td>
                        <td>{{item.insertUser}}</td>
                        <td>{{item.insertDate}}</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center fs-5 gap-2" *ngIf="item.beneFactorTypeId != 1 || (BeneFactorValueId && BenefactorType == 'Cash')">
                                <i class="uil uil-times-circle text-danger icon-table-action shadow-sm" (click)="openDeleteItemModal(deleteItemModal,item.id)"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <app-admin-pagination (pageChanged)="PagingFilter.currentpage = $event.page" [currentPage]="PagingFilter.currentpage" [pageSize]="PagingFilter.pagesize" [totalPages]="0" [totalCount]="TotalCount"></app-admin-pagination>
        </div>
    </div>
</div>


<ng-template #OpenItemModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-focus-add"></i>
            <span>اضافه تفاصيل</span>
        </div>
        <div class="d-flex align-items-center">
            <span class="me-3 fs-5" *ngIf="BenefactorType == 'Cash'">باق المبلغ : {{TotalValue}}</span>
            <i class="fas fa-times cursor-pointer fa-2x modal-close-btn" (click)="modal.dismiss()"></i>
        </div>

    </div>
    <div class="modal-body gray-bgcolor">
        <div class="bg-white p-3 rounded shadow-sm">
            <form [formGroup]="ItemForm" autocomplete="off">
                <div class="row g-3">
                    <div class="col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" [value]="Code" id="floatingInput_1" placeholder="new-user" disabled>
                            <label for="floatingInput_1">الكود</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div ngbDropdown class="dropdown-with-search overflow-hidden" container="body">
                            <button class="dropdown-with-search-btn btn border h-58 w-100 d-flex align-items-center justify-content-between selector-padding" id="dropdownBasic1" [disabled]="BenefactorType == 'Cash'" ngbDropdownToggle>
                                {{BeneFactorTypeName}}
                            </button>
                            <div class="width-530 py-0 overflow-hidden dropdown-fitting" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <div class="p-2 gray-bgcolor border-bottom">
                                    <div class="position-relative">
                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="BeneFactorTypeSearchText" placeholder="بحث..." [ngModelOptions]="{standalone: true}" />
                                        <i class="uil uil-search search-icon-input"></i>
                                    </div>
                                </div>
                                <ul class="dropdown-list-box list-unstyled max-height-220 overflow-auto px-1 py-1 m-0">
                                    <ng-container *ngFor="let item of BeneFactorTypesData | searchArry: BeneFactorTypeSearchText:'name'">
                                        <li class="dropdown-item cursor-pointer rounded" (click)="OnChangeBeneFactorType(item)" [ngClass]="{'DropDownSelected': BeneFactorTypeName == item.name}">
                                            {{item.name}}
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                        <div class="text-danger pt-2" *ngIf="BeneFactorTypeValidation">
                            هذا الحقل مطلوب
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-floating">
                            <input type="date" class="form-control" formControlName="paymentDate" value="1000" id="floatingInput_1" placeholder="new-user" required>
                            <label for="floatingInput_1">تاريخ التبرع</label>
                        </div>
                        <div *ngIf="ItemForm.controls['paymentDate']?.invalid && (ItemForm.controls['paymentDate']?.dirty || ItemForm.controls['paymentDate']?.touched)" class="text-danger pt-2">
                            <div *ngIf="ItemForm.controls['paymentDate'].errors?.['required']">
                                هذا الحقل مطلوب
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" *ngIf="BenefactorType == 'Cash'">
                        <div class="form-floating">
                            <input type="text" class="form-control" (copy)="false" (paste)="false" (cut)="false" (keypress)="NumbersOnly($event.key)" formControlName="totalValue" id="floatingInput_1" placeholder="new-user" autocomplete="off" required>
                            <label for="floatingInput_1">قيمة التبرع</label>
                        </div>
                        <div *ngIf="ItemForm.controls['totalValue']?.invalid && (ItemForm.controls['totalValue']?.dirty || ItemForm.controls['totalValue']?.touched)" class="text-danger pt-2">
                            <div *ngIf="ItemForm.controls['totalValue'].errors?.['required']">
                                هذا الحقل مطلوب
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" formControlName="details" id="floatingInput_1" placeholder="new-user">
                            <label for="floatingInput_1">تفاصيل التبرع</label>
                            <div *ngIf="ItemForm.controls['details'].errors?.['noSpace']" class="text-danger pt-2">
                                لا يمكن ان يحتوي الحقل على مسافات فقط
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="choose-file-box position-relative border rounded h-58" (click)="InputFile.click()">
                            <div class="choose-file-btn">تحميل صورة</div>
                        </div>
                    </div>
                    <div class="col-lg-12" *ngIf="fileURL.length > 0">
                        <hr class="border-success">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-2">
                            <div class="col" *ngFor="let url of fileURL">
                                <div class="choosed-img img-thumbnail shadow-sm">
                                    <img src="{{url.image}}" loading="lazy" alt="" />
                                    <div class="choosed-img-delete" (click)="DeleteSelectedFile()">
                                        <i class="far fa-times-circle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer justify-content-start gap-2">
        <button type="submit" class="btn main-button d-flex align-items-center gap-2" (click)="AddNewItem()">
            <i class="uil uil-plus-circle"></i>
            <span>اضافه</span>
        </button>
        <button class="btn btn-danger rounded-25 d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>

<ng-template #deleteItemModal let-modal>
    <div class="modal-header main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-trash-alt"></i>
            <span>حذف عنصر</span>
        </div>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد أنك تريد حذف هذا العنصر</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="DeleteItem()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">لا</span>
        </button>
    </div>
</ng-template>

<ngx-loading [show]="showLoader"></ngx-loading>

<input type="file" #InputFile class="choose-file-input" (change)="onFileChange($event)" hidden />