<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
        <div class="d-flex align-items-center flex-wrap gap-2">
            <button class="btn main-button d-flex align-items-center gap-2" (click)="openAddItemModal(OpenItemModal,null)">
                <i class="uil uil-plus-circle"></i>
                <span class="navbar-brand m-0">اضافة</span>
            </button>
            <button class="btn main-button d-flex align-items-center gap-2" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                <i class="uil uil-filter"></i>
                <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
            </button>
        </div>
        <div>
            <app-admin-pagination [currentPage]="PagingFilter.currentpage" [pageSize]="PagingFilter.pagesize" [totalPages]="0" [totalCount]="Total" (pageChanged)="PageChange($event)"></app-admin-pagination>
        </div>
    </div>
    <div class="px-3 py-2 bg-light border-bottom" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
        <app-admin-filters [PlaceHolder]="'بالاسم'" (FilterChecked)="FilterChecked($event)"></app-admin-filters>
    </div>
    <div class="card-body card-body-h">
        <div class="table-responsive mb-2">
            <table class="table table-bordered align-middle table-dark table-hover border shadow-lg bg-white m-0">
                <thead>
                    <tr>
                        <th class="th-width"></th>
                        <th>الاسم</th>
                        <th class="text-center">أجراءات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Results">
                        <td>
                            <img src="{{item.image}}" (error)="$event.target.src = defaultImage" class="table-image">
                        </td>
                        <td>{{item.categoryName}}</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center fs-5 gap-2">
                                <i class="uil uil-edit text-primary icon-table-action shadow-sm" (click)="openAddItemModal(OpenItemModal,item)"></i>
                                <i class="uil uil-times-circle text-danger icon-table-action shadow-sm" (click)="openDeleteItemModal(deleteItemModal,item)"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <app-admin-pagination (pageChanged)="PagingFilter.currentpage = $event.page" [currentPage]="PagingFilter.currentpage" [pageSize]="PagingFilter.pagesize" [totalPages]="0" [totalCount]="Total"></app-admin-pagination>
        </div>
    </div>
</div>


<ng-template #OpenItemModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-focus-add"></i>
            <span>املأ البيانات التالية</span>
        </div>
        <i class="fas fa-times cursor-pointer fa-2x modal-close-btn" (click)="modal.dismiss()"></i>
    </div>
    <div class="modal-body gray-bgcolor">
        <div class="bg-white p-3 rounded shadow-sm">
            <form [formGroup]="ItemForm" autocomplete="off">
                <div class="row g-3">
                    <div class="col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" formControlName="categoryName" id="floatingInput_1" placeholder="new-user" required>
                            <label for="floatingInput_1">الاسم</label>
                            <div *ngIf="ItemForm.controls['categoryName']?.invalid && (ItemForm.controls['categoryName']?.dirty || ItemForm.controls['categoryName']?.touched)" class="text-danger pt-2">
                                <div *ngIf="ItemForm.controls['categoryName'].errors?.['required']">
                                    هذا الحقل مطلوب
                                </div>
                                <div *ngIf="ItemForm.controls['categoryName'].errors?.['noSpace']">
                                    لا يمكن ان يحتوي الحقل على مسافات فقط
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="choose-file-box position-relative border rounded h-58" (click)="InputFile.click()">
                            <div class="choose-file-btn">تحميل صورة</div>
                        </div>
                    </div>
                    <div class="col-lg-12" *ngIf="fileURL.length > 0">
                        <hr class="border-success">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-2">
                            <div class="col" *ngFor="let url of fileURL">
                                <div class="choosed-img img-thumbnail shadow-sm">
                                    <img src="{{url.image}}" loading="lazy" alt="" />
                                    <div class="choosed-img-delete" (click)="DeleteSelectedFile()">
                                        <i class="far fa-times-circle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer justify-content-start gap-2">
        <button type="submit" class="btn main-button d-flex align-items-center gap-2" (click)="AddNewItem()">
            <i class="uil uil-plus-circle"></i>
            <span>اضافه</span>
        </button>
        <button class="btn btn-danger rounded-25 d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>

<input type="file" #InputFile class="choose-file-input" (change)="onFileChange($event)" hidden />

<ng-template #deleteItemModal let-modal>
    <div class="modal-header main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-trash-alt"></i>
            <span>حذف عنصر</span>
        </div>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد أنك تريد حذف هذا العنصر</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="DeleteItem()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">لا</span>
        </button>
    </div>
</ng-template>

<!-- <ngx-loading [show]="showLoader"></ngx-loading> -->