<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary py-0">
    <div class="container-fluid">
        <div class="d-flex align-items-center gap-2">
            <div class="img-logo-box">
                <img src="../../../assets/logo-2.png" class="logo-img" loading="lazy" alt="" />
            </div>
            <div class="fw-bold">زيارة الموقع</div>
        </div>
        <div class="navbar-collapse py-3 py-md-0" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 cursor-pointer py-0">
                        <i class="uil uil-sign-out-alt"></i>
                        <span>مرحبا بك</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <!-- Header -->
    <h1 class="header">شراء شاليه</h1>

    <!-- Image Slider -->
    <div class="slider">
        <img src="../../../assets/logo-2.png" alt="Image 1" />
        <img src="../../../assets/national-bank.png" alt="Image 2" />
    </div>

    <!-- Text -->
    <p class="description-text">Your descriptive text goes here.</p>

    <!-- Cards -->
    <div class="d-flex align-items-center">
        <div class="card">
            <div class="card__body">
                <div class="card__icon">
                    <svg height="32" width="32" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25"
            stroke-linejoin="round"
            stroke-linecap="round"
          ></path>
        </svg>
                </div>

                <p class="card__title">إجمالي التبرع</p>
                <p class="card__paragraph">
                    <span *ngFor="let digit of displayedDigits" [@slideUp]>{{ digit }}</span>
                </p>
            </div>
            <p class="card__title">عدد المتبرعين</p>
            <div class="card__ribbon">
                <label class="card__ribbon-label" [innerHTML]="beneFactorCounter"></label>
            </div>
        </div>

        <div class="card">
            <div class="card__body">
                <div class="card__icon">
                    <svg height="32" width="32" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25"
          stroke-linejoin="round"
          stroke-linecap="round"
        ></path>
      </svg>
                </div>

                <p class="card__title">باق المبلغ</p>
            </div>
            <div class="card__ribbon">
                <label class="card__ribbon-label">200000</label>
            </div>
        </div>
    </div>
</div>