<div class="table-responsive">
  <table class="table table-bordered align-middle">
    <thead>
      <tr>
        <th class="text-white" colspan="2">بيانات مصروفات للاسرة</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="fvt-td-bg">إيجار\كهرباء\مياه\غاز\صرف</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">كشف طبي\علاج</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">كشف طبي\علاج</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">ديون\أقساط</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">مصاريف مدارس\حضانة\دروس</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">جلسات علاج طبيعي</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">تحاليل</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">انتقالات مرضية</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">أشعة طبية</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">من التموين الموازي</td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check_1">
            <label class="form-check-label" for="check_1">
              نعم
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check_2">
            <label class="form-check-label" for="check_2">
              لا
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">تستفيد من بنك الطعام</td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check_3">
            <label class="form-check-label" for="check_3">
              نعم
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check_4">
            <label class="form-check-label" for="check_4">
              لا
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">إجمالي مصروفات الاسرة</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">صافي دخل الاسرة</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">عدد الافراد</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
      <tr>
        <td class="fvt-td-bg">متوسط دخل الفرد</td>
        <td>
          <input type="text" class="form-control" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
