<div class="table-responsive">
    <table class="table table-bordered align-middle">
        <thead>
            <tr>
                <th class="text-white" colspan="2">بيان المصروفات للاسرة</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fvt-td-bg">إيجار\كهرباء\مياه\غاز\صرف</td>
                <td>
                    <input type="text" class="form-control" [disabled]="DetailsMode" [(ngModel)]="FamilyExpenses.rent_Electricity_Water_Gas_Sewage" (ngModelChange)="onInputChange($event, 'rent_Electricity_Water_Gas_Sewage')" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">كشف طبي\علاج</td>
                <td>
                    <input type="text" class="form-control" [disabled]="DetailsMode" [(ngModel)]="FamilyExpenses.medicalExamination_Treatment" (ngModelChange)="onInputChange($event, 'medicalExamination_Treatment')" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">ديون\أقساط</td>
                <td>
                    <input type="text" class="form-control" [disabled]="DetailsMode" [(ngModel)]="FamilyExpenses.installment_debts" (ngModelChange)="onInputChange($event, 'installment_debts')" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">مصاريف مدارس\حضانة\دروس</td>
                <td>
                    <input type="text" class="form-control" [disabled]="DetailsMode" [(ngModel)]="FamilyExpenses.schoolExpenses" (ngModelChange)="onInputChange($event, 'schoolExpenses')" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">جلسات علاج طبيعي</td>
                <td>
                    <input type="text" class="form-control" [disabled]="DetailsMode" [(ngModel)]="FamilyExpenses.physiotherapySessions" (ngModelChange)="onInputChange($event, 'physiotherapySessions')" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">تحاليل</td>
                <td>
                    <input type="text" class="form-control" [disabled]="DetailsMode" [(ngModel)]="FamilyExpenses.analysis" (ngModelChange)="onInputChange($event, 'analysis')" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">انتقالات مرضية</td>
                <td>
                    <input type="text" class="form-control" [disabled]="DetailsMode" [(ngModel)]="FamilyExpenses.satisfactoryTransfers" (ngModelChange)="onInputChange($event, 'satisfactoryTransfers')" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">أشعة طبية</td>
                <td>
                    <input type="text" class="form-control" [disabled]="DetailsMode" [(ngModel)]="FamilyExpenses.medicalXRays" (ngModelChange)="onInputChange($event, 'medicalXRays')" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">من التموين الموازي</td>
                <td>
                    <div class="d-flex d-flex align-items-center">
                        <div class="me-2">نعم</div>
                        <label class="jtoggler-wrapper m-0 mx-0">
                          <input type="checkbox" class="jtoggler" [disabled]="DetailsMode" [(ngModel)]="FamilyExpenses.isMinisterialSupply">
                          <div class="jtoggler-control">
                            <div class="jtoggler-handle"></div>
                          </div>
                        </label>
                        <div class="ms-2">لا</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">تستفيد من بنك الطعام</td>
                <td>
                    <div class="d-flex d-flex align-items-center">
                        <div class="me-2">نعم</div>
                        <label class="jtoggler-wrapper m-0 mx-0">
                          <input type="checkbox" class="jtoggler" [disabled]="DetailsMode" [(ngModel)]="FamilyExpenses.isFoodBank">
                          <div class="jtoggler-control">
                            <div class="jtoggler-handle"></div>
                          </div>
                        </label>
                        <div class="ms-2">لا</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">إجمالي مصروفات الاسرة</td>
                <td>
                    <input type="text" class="form-control" [value]="FamilyExpenses.totalFamilyExpenses" disabled/>
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">صافي دخل الاسرة</td>
                <td>
                    <input type="text" class="form-control" [value]="FamilyExpenses.netFamilyIncome" disabled/>
                </td>
            </tr>
        </tbody>
    </table>
</div>