<div class="table-responsive">
    <table class="table table-bordered align-middle">
        <thead>
            <tr>
                <th class="text-white" colspan="2">بيان المصروفات للاسرة</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fvt-td-bg">إيجار\كهرباء\مياه\غاز\صرف</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">كشف طبي\علاج</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">كشف طبي\علاج</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">ديون\أقساط</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">مصاريف مدارس\حضانة\دروس</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">جلسات علاج طبيعي</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">تحاليل</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">انتقالات مرضية</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">أشعة طبية</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">من التموين الموازي</td>
                <td>
                    <div class="d-flex d-flex align-items-center">
                        <div class="me-2">نعم</div>
                        <label class="jtoggler-wrapper m-0 mx-0">
                          <input type="checkbox" class="jtoggler">
                          <div class="jtoggler-control">
                            <div class="jtoggler-handle"></div>
                          </div>
                        </label>
                        <div class="ms-2">لا</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">تستفيد من بنك الطعام</td>
                <td>
                    <div class="d-flex d-flex align-items-center">
                        <div class="me-2">نعم</div>
                        <label class="jtoggler-wrapper m-0 mx-0">
                          <input type="checkbox" class="jtoggler">
                          <div class="jtoggler-control">
                            <div class="jtoggler-handle"></div>
                          </div>
                        </label>
                        <div class="ms-2">لا</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">إجمالي مصروفات الاسرة</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">صافي دخل الاسرة</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">عدد الافراد</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="fvt-td-bg">متوسط دخل الفرد</td>
                <td>
                    <input type="text" class="form-control" />
                </td>
            </tr>
        </tbody>
    </table>
</div>