<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
        <div class="d-flex align-items-center flex-wrap gap-2">
            <button class="btn main-button d-flex align-items-center gap-2" (click)="openAddItemModal(OpenItemModal,null)">
                <i class="uil uil-plus-circle"></i>
                <span class="navbar-brand m-0">اضافة</span>
            </button>
            <button class="btn main-button d-flex align-items-center gap-2" (click)="isFilter = !isFilter" [attr.aria-expanded]="!isFilter">
                <i class="uil uil-filter"></i>
                <span class="navbar-brand m-0">{{ isFilter ? 'عرض' : 'اخفاء' }} الفلاتر</span>
            </button>
        </div>
        <div>
            <app-admin-pagination [currentPage]="PagingFilter.currentpage" [pageSize]="PagingFilter.pagesize" [totalPages]="0" [totalCount]="TotalCount" (pageChanged)="PageChange($event)"></app-admin-pagination>
        </div>
    </div>
    <div class="px-3 py-2 bg-light border-bottom" #collapse="ngbCollapse" [(ngbCollapse)]="isFilter">
        <app-admin-filters [FilterList]="FilterList" [PlaceHolder]="'الكفيل,بالاسم'" (FilterChecked)="FilterChecked($event)"></app-admin-filters>
    </div>
    <div class="card-body card-body-h">
        <div class="table-responsive mb-2">
            <table class="table table-bordered align-middle table-dark table-hover border shadow-lg bg-white m-0">
                <thead>
                    <tr>
                        <th>الاسم</th>
                        <th>اسم العائل</th>
                        <th>تاريخ الميلاد</th>
                        <th>الجنسية</th>
                        <th>تمت الاضافة من قبل</th>
                        <th>تاريخ الاضافة</th>
                        <th class="text-center">أجراءات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of OrphansData">
                        <td>{{item.name}}</td>
                        <td>{{item.familyName}}</td>
                        <td>{{item.dateOfBirthStr}}</td>
                        <td>{{item.nationality}}</td>
                        <td>{{item.createdBy}}</td>
                        <td>{{item.insertDateStr}}</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center fs-5 gap-2">
                                <i class="uil uil-edit text-primary icon-table-action shadow-sm" (click)="openAddItemModal(OpenItemModal,item)"></i>
                                <i class="uil uil-times-circle text-danger icon-table-action shadow-sm" (click)="openDeleteOrphanModal(deleteOrphanModal,item)"></i>
                                <i class="uil uil-plus-square text-secondary icon-table-action shadow-sm"></i>
                                <i class="uil uil-document-info text-success icon-table-action shadow-sm" (click)="openOpenDetailsModal(OpenDetailsModal,item)"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <app-admin-pagination (pageChanged)="PagingFilter.currentpage = $event.page" [currentPage]="PagingFilter.currentpage" [pageSize]="PagingFilter.pagesize" [totalPages]="0" [totalCount]="TotalCount"></app-admin-pagination>
        </div>
    </div>
</div>


<ng-template #OpenItemModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-focus-add"></i>
            <span>اضافه يتيم جديد</span>
        </div>
        <i class="fas fa-times cursor-pointer fa-2x modal-close-btn" (click)="modal.dismiss()"></i>
    </div>
    <div class="modal-body gray-bgcolor">
        <div class="bg-white p-3 rounded shadow-sm">
            <form [formGroup]="ItemForm" autocomplete="off">
                <div class="row g-3">
                    <div class="col-lg-6">
                        <div ngbDropdown class="dropdown-with-search overflow-hidden" container="body">
                            <button class="dropdown-with-search-btn btn border h-58 w-100 d-flex align-items-center justify-content-between selector-padding" id="dropdownBasic1" ngbDropdownToggle>
                                {{FamilyStatusName}}
                            </button>
                            <div class="width-530 py-0 overflow-hidden dropdown-fitting" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <div class="p-2 gray-bgcolor border-bottom">
                                    <div class="position-relative">
                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="SearchText" placeholder="بحث..." (input)="FamilyStatusInputSearch()" [ngModelOptions]="{standalone: true}" />
                                        <i class="uil uil-search search-icon-input"></i>
                                    </div>
                                </div>
                                <ul class="dropdown-list-box list-unstyled max-height-220 overflow-auto px-1 py-1 m-0">
                                    <ng-container *ngFor="let item of FamilyStatusData">
                                        <li class="dropdown-item cursor-pointer rounded" (click)="OnChangeFamilyStatus(item)" [ngClass]="{'DropDownSelected': FamilyStatusName == item.familyStatusName}">{{item.familyStatusName}}</li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                        <div class="text-danger pt-2" *ngIf="FamilyStatusValidation">
                            هذا الحقل مطلوب
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div ngbDropdown class="dropdown-with-search overflow-hidden" container="body">
                            <button class="dropdown-with-search-btn btn border h-58 w-100 d-flex align-items-center justify-content-between selector-padding" id="dropdownBasic1" ngbDropdownToggle>
                                {{OrphansName}}
                            </button>
                            <div class="width-530 py-0 overflow-hidden dropdown-fitting" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <ul class="dropdown-list-box list-unstyled max-height-220 overflow-auto px-1 py-1 m-0">
                                    <ng-container *ngFor="let item of OrphansDetailsData">
                                        <li class="dropdown-item cursor-pointer rounded" (click)="OnChangeOrphansDetails(item)" [ngClass]="{'DropDownSelected': OrphansName == item.familyDetailsName}">{{item.familyDetailsName}}</li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                        <div class="text-danger pt-2" *ngIf="OrphansDetailsValidation">
                            هذا الحقل مطلوب
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-floating">
                            <input type="date" class="form-control" formControlName="dateOfBirth" id="floatingInput_1" placeholder="new-user" required>
                            <label for="floatingInput_1">تاريخ الميلاد</label>
                            <div *ngIf="ItemForm.controls['dateOfBirth']?.invalid && (ItemForm.controls['dateOfBirth']?.dirty || ItemForm.controls['dateOfBirth']?.touched)" class="text-danger pt-2">
                                <div *ngIf="ItemForm.controls['dateOfBirth'].errors?.['required']">
                                    هذا الحقل مطلوب
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" formControlName="rankingBrothers" id="floatingInput_1" placeholder="new-user" required>
                            <label for="floatingInput_1">الترتيب بين الاأخوة</label>
                            <div *ngIf="ItemForm.controls['rankingBrothers']?.invalid && (ItemForm.controls['rankingBrothers']?.dirty || ItemForm.controls['rankingBrothers']?.touched)" class="text-danger pt-2">
                                <div *ngIf="ItemForm.controls['rankingBrothers'].errors?.['required']">
                                    هذا الحقل مطلوب
                                </div>
                                <div *ngIf="ItemForm.controls['rankingBrothers'].errors?.['noSpace']">
                                    لا يمكن ان يحتوي الحقل على مسافات فقط
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-floating">
                            <textarea rows="4" class="form-control" formControlName="notes" id="floatingInput_1" placeholder="new-user"></textarea>
                            <label for="floatingInput_1">ملاحظات</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer justify-content-start gap-2">
        <button type="submit" class="btn main-button d-flex align-items-center gap-2" (click)="AddNewOrphans()">
            <i class="uil uil-plus-circle"></i>
            <span>اضافه</span>
        </button>
        <button class="btn btn-danger rounded-25 d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>

<ng-template #deleteOrphanModal let-modal>
    <div class="modal-header main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-trash-alt"></i>
            <span>حذف يتيم</span>
        </div>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد أنك تريد حذف هذا العنصر</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="DeleteOrphans()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">لا</span>
        </button>
    </div>
</ng-template>

<ng-template #OpenDetailsModal let-modal>
    <div class="modal-header d-flex align-items-center justify-content-between main-bgcolor text-white">
        <div class="display-7 d-flex align-items-center gap-3">
            <i class="uil uil-focus-add"></i>
            <span>تفاصيل اليتيم</span>
        </div>
        <i class="fas fa-times cursor-pointer fa-2x modal-close-btn" (click)="modal.dismiss()"></i>
    </div>
    <div class="modal-body gray-bgcolor">
        <div class="bg-white p-3 rounded shadow-sm">
            <div class="table-responsive">
                <table class="table table-bordered align-middle table-hover">
                    <thead>
                        <tr>
                            <th class="text-white" colspan="2">{{OrphanDataObj?.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fvt-td-bg">الاسم</td>
                            <td>
                                {{OrphanDataObj?.name ?? '-'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fvt-td-bg">اسم العائل</td>
                            <td>
                                {{OrphanDataObj?.familyName ?? '-'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fvt-td-bg">تاريخ الميلاد</td>
                            <td>
                                {{OrphanDataObj?.dateOfBirthStr ?? '-'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fvt-td-bg">الجنسية</td>
                            <td>
                                {{OrphanDataObj?.nationality ?? '-'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fvt-td-bg">المهنة</td>
                            <td>
                                {{OrphanDataObj?.jop ?? '-'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fvt-td-bg">الرقم القومي</td>
                            <td>
                                {{OrphanDataObj?.nationalId ?? '-'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fvt-td-bg">رقم التلفون</td>
                            <td>
                                {{OrphanDataObj?.phone ?? '-'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fvt-td-bg">العنوان</td>
                            <td>
                                {{OrphanDataObj?.address ?? '-'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fvt-td-bg">الدخل</td>
                            <td>
                                {{OrphanDataObj?.income ?? '-'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fvt-td-bg">المرحلة الدراسية</td>
                            <td>
                                {{OrphanDataObj?.academicStage ?? '-'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fvt-td-bg">عدد افراد الاسرة</td>
                            <td>
                                {{OrphanDataObj?.familyMembersCount ?? '-'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fvt-td-bg">الترتيب بين الاخوة</td>
                            <td>
                                {{OrphanDataObj?.rankingBrothers ?? '-'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fvt-td-bg">الصحة</td>
                            <td>
                                {{OrphanDataObj?.healthStatus ?? '-'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="fvt-td-bg">ملاحظات</td>
                            <td>
                                {{OrphanDataObj?.notes ?? '-'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>


<ngx-loading [show]="showLoader"></ngx-loading>