<!-- <div class="row">
    <div class="col-lg-3">
        <img src="../../../assets/logo-2.png" loading="lazy" alt="" class="logo-img">
    </div>
    <div class="col-lg-3">
        <div class="pos-prod-item prod-red box-hover">
            <div class="d-flex flex-column align-items-center justify-content-between">
                <div class="pos-prod-text prod-text-red fw-bold fs-5">الزائرين</div>
                <div class="pos-prod-text prod-text-red fw-bold fs-5">{{StatisticsData?.visitorCount ?? 0}}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="pos-prod-item prod-purple box-hover">
            <div class="d-flex flex-column align-items-center justify-content-between">
                <div class="pos-prod-text prod-text-purple fw-bold fs-5">المستخدمين النشطين</div>
                <div class="pos-prod-text prod-text-purple fw-bold fs-5">{{StatisticsData?.activeUserCount ?? 0}}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="pos-prod-item prod-orange box-hover">
            <div class="d-flex flex-column align-items-center justify-content-between">
                <div class="pos-prod-text prod-text-orange fw-bold fs-5">المستخدمين غير النشطين</div>
                <div class="pos-prod-text prod-text-orange fw-bold fs-5">{{StatisticsData?.inactiveUserCount ?? 0}}
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="row g-4">
    <div class="col-xl-4">
      <div class="homepage-img-box">
        <img src="../../../../assets/logo-2.png" class="homepage-img" loading="lazy" alt="" />
      </div>
    </div>
    <div class="col-xl-8">
      <div class="home-staticts mb-3">
        <div class="row g-3">
          <div class="col-lg-4">
            <div
              class="staticts-card visitors position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
              <div class="staticts-icon">
                <i class="uil uil-users-alt"></i>
              </div>
              <div class="staticts-name">الزائرين</div>
              <div class="staticts-number">{{StatisticsData?.visitorCount ?? 0}}</div>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="staticts-card active-users position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
              <div class="staticts-icon">
                <i class="uil uil-user-check"></i>
              </div>
              <div class="staticts-name">المستخدمين النشطين</div>
              <div class="staticts-number">{{StatisticsData?.activeUserCount ?? 0}}</div>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="staticts-card nonactive-users position-relative d-flex flex-column gap-2 align-items-center rounded shadow-sm h-100">
              <div class="staticts-icon">
                <i class="uil uil-user-exclamation"></i>
              </div>
              <div class="staticts-name">المستخدمين غير النشطين</div>
              <div class="staticts-number">{{StatisticsData?.inactiveUserCount ?? 0}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header d-flex align-items-center gap-2">
          <i class="uil uil-user"></i>
          <div>المستخدمين النشطين</div>
        </div>
        <div class="card-body card-body-h overflow-auto">
          <div class="table-responsive">
            <table class="table table-bordered align-middle table-dark table-hover border shadow-lg bg-white m-0">
              <thead>
                <tr>
                  <th>الصورة</th>
                  <th>العنوان</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>تفاصيل 1</td>
                  <td>تفاصيل 2</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>