<footer id="main-footer">
    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-6 d-flex flex-column align-items-md-start align-items-center gap-2">
          <h2 class="m-0">للتواصل معنا</h2>
          <p class="d-flex align-items-center m-0 cursor-pointer">
            <i class="fas fa-map-pin"></i>
            <span class="ms-2">23 ش النهضة - سرايات المعادي - القاهرة</span>
          </p>
        </div>
        <div class="col-lg-6 d-flex flex-column align-items-md-end align-items-center gap-3">
          <div class="d-flex align-items-center cursor-pointer gap-1 fs-5">
            <i class="fas fa-mobile-alt"></i>
            <span class="ms-2">01112442440</span>
          </div>
          <ul class="navbar-socials">
            <li class="nav-item">
              <a class="nav-link" placement="top" ngbTooltip="Facebook"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" placement="top" ngbTooltip="Twitter"><i class="fab fa-twitter-square"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" placement="top" ngbTooltip="Instagram"><i class="fab fa-instagram-square"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" placement="top" ngbTooltip="Youtube"><i class="fab fa-youtube"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" placement="top" ngbTooltip="Tiktok"><i class="fab fa-tiktok"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  