<div class="card">
  <div class="card-header d-flex align-items-center gap-2">
    <i class="uil uil-user"></i>
    <div>المشرف</div>
  </div>
  <div class="card-body card-body-h">
    <div class="table-responsive">
      <table class="table table-bordered align-middle table-dark table-hover border shadow-lg bg-white m-0">
        <thead>
          <tr>
            <th>الاسم</th>
            <th>البريد الالكترونى</th>
            <th>التاريخ</th>
            <th>الحالة</th>
            <th class="text-center">أجراءات</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>تفاصيل 1</td>
            <td>تفاصيل 2</td>
            <td>تفاصيل 3</td>
            <td>
              <div class="status-tag active">نشط</div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center fs-5 gap-2">
                <i class="uil uil-edit text-primary icon-table-action shadow-sm"></i>
                <i class="uil uil-times-circle text-danger icon-table-action shadow-sm"></i>
                <i class="uil uil-user-check text-info icon-table-action shadow-sm"></i>
              </div>
            </td>
          </tr>
          <tr>
            <td>تفاصيل 1</td>
            <td>تفاصيل 2</td>
            <td>تفاصيل 3</td>
            <td>
              <div class="status-tag inactive">غير نشط</div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center fs-5 gap-2">
                <i class="uil uil-edit text-primary icon-table-action shadow-sm"></i>
                <i class="uil uil-times-circle text-danger icon-table-action shadow-sm"></i>
                <i class="uil uil-user-check text-info icon-table-action shadow-sm"></i>
              </div>
            </td>
          </tr>
          <tr>
            <td>تفاصيل 1</td>
            <td>تفاصيل 2</td>
            <td>تفاصيل 3</td>
            <td>
              <div class="status-tag pending">قيد الانتظار</div>
            </td>
            <td>
              <div class="d-flex align-items-center justify-content-center fs-5 gap-2">
                <i class="uil uil-edit text-primary icon-table-action shadow-sm"></i>
                <i class="uil uil-times-circle text-danger icon-table-action shadow-sm"></i>
                <i class="uil uil-user-check text-info icon-table-action shadow-sm"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
