<h3 class="text-center main-color mb-5 display-5">الفعاليات</h3>
<div class="event-card">
  <div class="event-date">
    <span class="event-name">أكتوبر 2023</span>
  </div>
  <div class="event-details">
    <div class="row gy-3">
      <div class="col-lg-8 d-flex align-items-center">
        <div class="event-info">
          <h4 class="fw-bold mb-2 main-color">دورات نشاط أنوار زائر الخير لشهر اكتوبر</h4>
          <span class="fs-14px">7 أكتوبر، 2023 @ 8:00 ص - 31 أكتوبر، 2023 @ 5:00 م</span>
          <p class="m-0 mt-3">نشاط أنوار رسالة هينور حياتك بالعلم والمعرفة دلوقتي تقدر تلتحق بأي دورة من دورتنا المجانية وتاخد خطوة في طريق مستقبلك </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="event-image shadow-sm">
          <img src="../../../assets/event-1.jpg" class="event-img img-thumbnail" loading="lazy" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="event-card">
  <div class="event-date">
    <span class="event-name">نوفمبر 2023</span>
  </div>
  <div class="event-details">
    <div class="row gy-3">
      <div class="col-lg-8 d-flex align-items-center">
        <div class="event-info">
          <h4 class="fw-bold mb-2 main-color">دورات مركز زائر الخير التدريبي لشهر اكتوبر</h4>
          <span class="fs-14px">7 أكتوبر، 2023 @ 8:00 ص - 31 أكتوبر، 2023 @ 5:00 م</span>
          <p class="m-0 mt-3">حلمك هيبقى حقيقة لما تاخد خطوة وتطور من نفسك واحنا في نشاط RTC هنساعدك تاخد الخطوة من خلال تقديم </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="event-image shadow-sm">
          <img src="../../../assets/event-2.jpg" class="event-img img-thumbnail" loading="lazy" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="event-card">
  <div class="event-date">
    <span class="event-name">ديسمبر 2023</span>
  </div>
  <div class="event-details">
    <div class="row gy-3">
      <div class="col-lg-8 d-flex align-items-center">
        <div class="event-info">
          <h4 class="fw-bold mb-2 main-color">دورات انوار رسالة المجانية لشهر ديسمبر</h4>
          <span class="fs-14px">4 ديسمبر، 2023 @ 8:00 ص - 31 ديسمبر، 2023 @ 5:00 م</span>
          <p class="m-0 mt-3">جدول دوراتنا بجميع فروعنا فى شهر ديسمبر جميع دوراتنا مجانية 100% </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="event-image shadow-sm">
          <img src="../../../assets/event-3.jpg" class="event-img img-thumbnail" loading="lazy" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
