<h3 class="text-center main-color mb-5 display-5">عن زائر الخير</h3>
<div style="align-items: center;justify-content: flex-start;display: flex;">
  <span style="font-size: 50px;margin-left: 10px;">▪</span>
  <span style="font-size: 30px;">إحنا مين؟</span>
</div>
<p class="gray-bgcolor rounded shadow-sm p-2 fs-5 lh-lg mb-4">
  مجموعة شبابية تطوعية ابتدت بمبادرات فردية في تقديم المساعدة للأسر الفقيرة والمحتاجة في <span
    class="fw-bold">2015</span>، بتقديم معونات مادية و
  تعليمية، وكنا بنسعى من وقتها يكون شغلنا رسمي، فعملنا مؤسسة <span class="main-color fw-bold">“زائر الخير”</span>
  الخيرية التابعة لوزارة التضامن الاجتماعي وخدنا الإشهار برقم <span class="fw-bold">4242</span> في <span
    class="fw-bold">2021</span>.</p>

<div style="align-items: center;justify-content: flex-start;display: flex;">
  <span style="font-size: 50px;margin-left: 10px;">▪</span>
  <span style="font-size: 30px;">ليه اخترنا اسم زائر الخير؟</span>
</div>

<p class="gray-bgcolor rounded shadow-sm p-4 fs-5 lh-lg mb-4">
  <span>🎗️ <span class="main-color fw-bold">“زائر الخير”</span> هو إنت لما بتقدم مساعدتك بكل حب وبتتمنى توصل للإنسان إلي محتاجها وبيستحقها....</span><br>
  <span>🎗️ <span class="main-color fw-bold">“زائر الخير”</span> هو إحنا الواسطة إلي بتساعدك تحقق غايتك وتوصلها إنها تكون صدقة جارية يستمر ثوابها مدى الحياة ولغاية ما تقابل ربنا بيها...</span><br>
  <span>🎗️ <span class="main-color fw-bold">“زائر الخير”</span> لما بيدخل بيوت المحتاجين بيبقى خير ليهم ولينا وليك..</span><br>
  <span>🎗️ فإحنا <span class="main-color fw-bold">"(كزائر الخير)"</span> حبينا نكون الأداة اللي هتساعد أهلنا وبلدنا على دعم المحبة والتكافل ما بينهم.</span>
</p>

<div style="align-items: center;justify-content: flex-start;display: flex;">
  <span style="font-size: 50px;margin-left: 10px;">▪</span>
  <span style="font-size: 30px;">مكاننا فين؟</span>
</div>

<p class="gray-bgcolor rounded shadow-sm p-4 fs-5 lh-lg mb-4">
  الاسكندرية- العجمي- ك 21- أكتوبر-شاطئ النخيل ش12/33
  شغلنا بيغطي منطقة العجمي، ونأمل إننا نوسع نشاطنا يوم بعد يوم.
</p>

<div style="align-items: center;justify-content: flex-start;display: flex;">
  <span style="font-size: 50px;margin-left: 10px;">▪</span>
  <span style="font-size: 30px;">إيه الأنشطة بتاعتنا؟</span>
</div>

<p class="gray-bgcolor rounded shadow-sm p-4 fs-5 lh-lg mb-4">
  <span>1-توزيع زكاة المال على مستحقيها من الفقراء والمساكين الأكثر احتياجًا</span><br>
  <span>2-كفالة اليتيم</span><br>
  <span>3-كفالات شهرية للأسر الأكثر احتياجًا من الفقراء والمرضى</span><br>
  <span>4-دعم دور تحفيظ القرآن</span><br>
  <span>5-توفير الاحتياجات الأساسية لبيوت الأسر المحتاجة من (مراتب، سراير، غسالات، بوتجازات، إلخ..)</span><br>
  <span>6-إطعام الطعام عن طريق عمل وجبات للمسنين والمرضى، توزيع شنط غذائية (أكل جاف) بالإضافة لشنط رمضان</span><br>
  <span>7-توفير الكشف الطبي والعلاج أو العمليات للحالات الطبية الفقيرة المستحقة</span><br>
  <span>8-والتعليم ليه معانا الاهتمام الأكبر.</span>
</p>

<p class="fs-5 mb-4">
  <span>⭐لو عايز تتبرع معانا تعمل إيه؟</span><br>
  <span>للتبرع كلمنا على رسايل صفحتنا على الفيس بوك ...</span><br>
  <span>تابعونا ياكرام ⭐💪</span><br>
  <span>فأعينوني بقوة ⭐⭐💪</span>
</p>