<h3 class="text-center main-color mb-5 display-5">عن زائر الخير</h3>
<p class="fs-5 lh-lg mb-4">نشأت <span class="main-color fw-bold">“زائر الخير”</span> يوم 25 يونيو سنة 1999 كنشاط طلابي في كلية الهندسة بجامعة القاهرة على ايدي مجموعة من الطلاب الذين درسوا كورس اخلاقيات مهنة الهندسة في قسم هندسة  الاتصالات بالكلية على يد د. شريف عبد العظيم .</p>

<p class="gray-bgcolor rounded shadow-sm p-4 fs-5 lh-lg mb-4">
  <span class="fw-bold">1999 عام</span>
كان هدف الفريق المؤسس نشر التطوع و الايجابية في المجتمع و زرع الانتماء و محاربة منطق “وانا مالي ” و غيره من الافكار السلبية و قد اختاروا اسم <span class="main-color fw-bold">“زائر الخير”</span> تعبيرا عن ان هدف الفريق هو نشر رسالة التطوع و الايجابية و التعاون في الكلية و المجتمع باسره.
</p>

<p class="gray-bgcolor rounded shadow-sm p-4 fs-5 lh-lg mb-4">
  <span class="fw-bold">2000 عام</span>
  تحولت <span class="main-color fw-bold">“زائر الخير”</span> في عام 2000 الى جمعية خيرية مشهرة بوزارة الشئوون الاجتماعية بعد تبرع قريب احد الطالبات بالكلية  بقطعة ارض للفريق كي ينشروا رسالتهم خارج الجامعة.
</p>

<p class="fs-5 mb-4">و مع مرور الوقت اتسعت انشطة جمعية <span class="main-color fw-bold">“زائر الخير”</span> و زاد عدد متطوعيها و تعددت فروعها حتى اصبحت احد اكبر الجمعيات الخيرية بمصر و اكبر كيان قائم على التطوع في العالم العربي.</p>

<p class="gray-bgcolor rounded shadow-sm p-4 fs-5 lh-lg mb-4">
  الان اصبح <span class="main-color fw-bold">“زائر الخير”</span> اكثر من 60 فرعا منتشرة في انحاء مصر و يتطوع بها كل عام اكثر من 200 الف متطوع يخدمون ملايين المصريين في حوالي 30 نشاط تطوعي تشمل رعاية الايتام و خدمة المسنين و ايواء اطفال الشوارع و خدمة المكفوفين و الصم و ذوي الاحتياجات الخاصة و دروس التقوية المجانية و محو الامية و معارض الملابس المستعملة و التبرع بالدم و تعليم الكمبيوتر و اللغات و التنمية البشرية و القرآن الكريم و مساعدات للمحتاجين  و قوافل الخير للقرى الفقيرة و القوافل الطبية و علاج الادمان و اطعام المساكين و عمل مشاريع انتاجية للفقراء و اعمار المساجد و المدارس و تحقيق الاماني لاطفال السرطان و التوعية الاخلاقية للشباب و تنظيف الشوارع و الحدائق و نشر السرور بين الناس  و الرفق بالحيوان.
</p>

