<p class="fs-5 lh-lg mb-4">
    <span class="main-color fw-bold">يوم التحدي</span> هو مبادرة تم إطلاقها من خلال جمعية رسالة لتقدير أبطال التحدي، وتهدف في الأساس إلى تسليط الضوء عليهم وحقوقهم في المجتمع والتمهيد لدمجهم في المجتمع بشكل طبيعي بدون أي تمييز، والمبادرة تحت رعاية وزارة التضامن الاجتماعي.
  </p>
  
  <div class="row gy-4">
    <div class="col-lg-4" *ngFor="let img of imageUrls; index as i" (click)="this.isGallery = true; currentGallery = i">
      <div class="photo-card-image img-thumbnail position-relative">
        <img [src]="img.src" class="photo-img" loading="lazy" alt=""  />
        <div class="photo-card-icon">
          <i class="fas fa-search-plus"></i>
        </div>
      </div>
    </div>
  </div>
  
  <media [slides]="imageUrls" [isGallery]="isGallery" [currentGallery]="currentGallery" (closeGallery)="this.isGallery = false"></media>
  